/* This file just loads some custom CSS code which is used for the Sampler */

body {
	font-family: 'Lato', sans-serif;
}

.wtf-button {
	margin-right: 1%;
	margin-bottom: 1%;
}

.swatch {
	float: left;
	width: 150px;
	padding-bottom: 20px;
	padding-top: 20px;
	line-height: 1.50em;
	display: block;
	text-align: center;
	border: 1px solid #000000;
	font-size: 13px;
}