/* @group CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

/* @group Cute Grids - Responsive Grid System */

/*
*
* Cute Grids v1.0
* Copyright 2014 Darren Newberry
* http://www.cutegrids.com
* Free to use under the MIT Licence
* http://www.opensource.org/licenses/mit-license.php
*
*/

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box
}

/* Set the width of the row to what you like */
.row {
  width: 100%;
  max-width:75rem; /* max Width of row, Change to what you like */
  margin:0 auto;
}

/* Nested row 1 level down */
/* Change the gutter if you like, currently set as 0.65em */
.row .row {
  margin-left: -0.65rem; /* minus left gutter for nested rows */
  margin-right: -0.65rem; /* minus Right gutter for nested rows */
  width: auto;
}

[class*='cute-'] {
  float: left;
  position: relative;
  padding: 0.65rem; /* top, bottom, left and right padding for columns */
  width:100%;
}

/* Remove this if you want the columns to float left when they overflow the row */

[class*='cute-']:last-of-type {
  float: right;
}

/* Clearfix */
.row:after, .group:after, .clearfix:after {
  content: "";
  display: table;
  clear: both
}
.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

/* Grid classes for phone screen widths  */
@media only screen {
  .cute-1-phone { width: 8.3333333333333%; }
  .cute-2-phone { width: 16.666666666667%; }
  .cute-3-phone { width: 25%; }
  .cute-4-phone { width: 33.333333333333%; }
  .cute-5-phone { width: 41.666666666667%; }
  .cute-6-phone { width: 50%; }
  .cute-7-phone { width: 58.333333333333%; }
  .cute-8-phone { width: 66.666666666667%; }
  .cute-9-phone { width: 75%; }
  .cute-10-phone { width: 83.333333333333%; }
  .cute-11-phone { width: 91.666666666667%; }
  .cute-12-phone { width: 100%; }

  /* offset for phone size */
  .cute-0-phone-offset { margin: 0; }
  .cute-1-phone-offset { margin-left: 8.3333333333333%; }
  .cute-2-phone-offset { margin-left: 16.666666666667%; }
  .cute-3-phone-offset { margin-left: 25%; }
  .cute-4-phone-offset { margin-left: 33.333333333333%; }
  .cute-5-phone-offset { margin-left: 41.666666666667%; }
  .cute-6-phone-offset { margin-left: 50%; }
  .cute-7-phone-offset { margin-left: 58.333333333333%; }
  .cute-8-phone-offset { margin-left: 66.666666666667%; }
  .cute-9-phone-offset { margin-left: 75%; }
  .cute-10-phone-offset { margin-left: 83.333333333333%; }
  .cute-11-phone-offset { margin-left: 91.666666666667%; }

  .cute-1-phone-push { left: 8.3333333333333%; }
  .cute-2-phone-push { left: 16.666666666667%; }
  .cute-3-phone-push { left: 25%; }
  .cute-4-phone-push { left: 33.333333333333%; }
  .cute-5-phone-push { left: 41.666666666667%; }
  .cute-6-phone-push { left: 50%; }
  .cute-7-phone-push { left: 58.333333333333%; }
  .cute-8-phone-push { left: 66.666666666667%; }
  .cute-9-phone-push { left: 75%; }
  .cute-10-phone-push { left: 83.333333333333%; }
  .cute-11-phone-push { left: 91.666666666667%; }

  .cute-1-phone-pull { right: 8.3333333333333%; }
  .cute-2-phone-pull { right: 16.666666666667%; }
  .cute-3-phone-pull { right: 25%; }
  .cute-4-phone-pull { right: 33.333333333333%; }
  .cute-5-phone-pull { right: 41.666666666667%; }
  .cute-6-phone-pull { right: 50%; }
  .cute-7-phone-pull { right: 58.333333333333%; }
  .cute-8-phone-pull { right: 66.666666666667%; }
  .cute-9-phone-pull { right: 75%; }
  .cute-10-phone-pull { right: 83.333333333333%; }
  .cute-11-phone-pull { right: 91.666666666667%; }

  .center-phone {
    margin-left: auto;
    margin-right:auto;
    float:none !important;
  }
  .uncenter-phone {
    margin-left: 0;
    margin-right: 0;
    float:left !important;
  }
  .uncenter-phone.right {
    float:right !important;
  }

  [class*='cute-'].phone-reset {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
}
/* Grid classes for tablet screen widths  */
@media only screen and (min-width: 48em) {
  .cute-1-tablet { width: 8.3333333333333%; }
  .cute-2-tablet { width: 16.666666666667%; }
  .cute-3-tablet { width: 25%; }
  .cute-4-tablet { width: 33.333333333333%; }
  .cute-5-tablet { width: 41.666666666667%; }
  .cute-6-tablet { width: 50%; }
  .cute-7-tablet { width: 58.333333333333%; }
  .cute-8-tablet { width: 66.666666666667%; }
  .cute-9-tablet { width: 75%; }
  .cute-10-tablet { width: 83.333333333333%; }
  .cute-11-tablet { width: 91.666666666667%; }
  .cute-12-tablet { width: 100%; }

    /* offset for tablet screen widths */
  .cute-0-tablet-offset { margin: 0; }
  .cute-1-tablet-offset { margin-left: 8.3333333333333%; }
  .cute-2-tablet-offset { margin-left: 16.666666666667%; }
  .cute-3-tablet-offset { margin-left: 25%; }
  .cute-4-tablet-offset { margin-left: 33.333333333333%; }
  .cute-5-tablet-offset { margin-left: 41.666666666667%; }
  .cute-6-tablet-offset { margin-left: 50%; }
  .cute-7-tablet-offset { margin-left: 58.333333333333%; }
  .cute-8-tablet-offset { margin-left: 66.666666666667%; }
  .cute-9-tablet-offset { margin-left: 75%; }
  .cute-10-tablet-offset { margin-left: 83.333333333333%; }
  .cute-11-tablet-offset { margin-left: 91.666666666667%; }

  .cute-1-tablet-push { left: 8.3333333333333%; }
  .cute-2-tablet-push { left: 16.666666666667%; }
  .cute-3-tablet-push { left: 25%; }
  .cute-4-tablet-push { left: 33.333333333333%; }
  .cute-5-tablet-push { left: 41.666666666667%; }
  .cute-6-tablet-push { left: 50%; }
  .cute-7-tablet-push { left: 58.333333333333%; }
  .cute-8-tablet-push { left: 66.666666666667%; }
  .cute-9-tablet-push { left: 75%; }
  .cute-10-tablet-push { left: 83.333333333333%; }
  .cute-11-tablet-push { left: 91.666666666667%; }

  .cute-1-tablet-pull { right: 8.3333333333333%; }
  .cute-2-tablet-pull { right: 16.666666666667%; }
  .cute-3-tablet-pull { right: 25%; }
  .cute-4-tablet-pull { right: 33.333333333333%; }
  .cute-5-tablet-pull { right: 41.666666666667%; }
  .cute-6-tablet-pull { right: 50%; }
  .cute-7-tablet-pull { right: 58.333333333333%; }
  .cute-8-tablet-pull { right: 66.666666666667%; }
  .cute-9-tablet-pull { right: 75%; }
  .cute-10-tablet-pull { right: 83.333333333333%; }
  .cute-11-tablet-pull { right: 91.666666666667%; }

  .center-tablet {
    margin-left: auto;
    margin-right:auto;
    float:none !important;
  }
  .uncenter-tablet {
    margin-left: 0;
    margin-right: 0;
    float:left !important;
  }
  .uncenter-tablet.right {
    float:right !important;
  }

  [class*='cute-'].tablet-reset {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
}
/* Grid classes for wide Tablet / Laptop to Small Desktop Size */

@media only screen and (min-width: 62em) {
  .cute-1-laptop { width: 8.3333333333333%; }
  .cute-2-laptop { width: 16.666666666667%; }
  .cute-3-laptop { width: 25%; }
  .cute-4-laptop { width: 33.333333333333%; }
  .cute-5-laptop { width: 41.666666666667%; }
  .cute-6-laptop { width: 50%; }
  .cute-7-laptop { width: 58.333333333333%; }
  .cute-8-laptop { width: 66.666666666667%; }
  .cute-9-laptop { width: 75%; }
  .cute-10-laptop { width: 83.333333333333%; }
  .cute-11-laptop { width: 91.666666666667%; }
  .cute-12-laptop { width: 100%; }

  /* offset for tablet laptop widths */
  .cute-0-laptop-offset { margin: 0; }
  .cute-1-laptop-offset { margin-left: 8.3333333333333%; }
  .cute-2-laptop-offset { margin-left: 16.666666666667%; }
  .cute-3-laptop-offset { margin-left: 25%; }
  .cute-4-laptop-offset { margin-left: 33.333333333333%; }
  .cute-5-laptop-offset { margin-left: 41.666666666667%; }
  .cute-6-laptop-offset { margin-left: 50%; }
  .cute-7-laptop-offset { margin-left: 58.333333333333%; }
  .cute-8-laptop-offset { margin-left: 66.666666666667%; }
  .cute-9-laptop-offset { margin-left: 75%; }
  .cute-10-laptop-offset { margin-left: 83.333333333333%; }
  .cute-11-laptop-offset { margin-left: 91.666666666667%; }

  .cute-1-laptop-push { left: 8.3333333333333%; }
  .cute-2-laptop-push { left: 16.666666666667%; }
  .cute-3-laptop-push { left: 25%; }
  .cute-4-laptop-push { left: 33.333333333333%; }
  .cute-5-laptop-push { left: 41.666666666667%; }
  .cute-6-laptop-push { left: 50%; }
  .cute-7-laptop-push { left: 58.333333333333%; }
  .cute-8-laptop-push { left: 66.666666666667%; }
  .cute-9-laptop-push { left: 75%; }
  .cute-10-laptop-push { left: 83.333333333333%; }
  .cute-11-laptop-push { left: 91.666666666667%; }

  .cute-1-laptop-pull { right: 8.3333333333333%; }
  .cute-2-laptop-pull { right: 16.666666666667%; }
  .cute-3-laptop-pull { right: 25%; }
  .cute-4-laptop-pull { right: 33.333333333333%; }
  .cute-5-laptop-pull { right: 41.666666666667%; }
  .cute-6-laptop-pull { right: 50%; }
  .cute-7-laptop-pull { right: 58.333333333333%; }
  .cute-8-laptop-pull { right: 66.666666666667%; }
  .cute-9-laptop-pull { right: 75%; }
  .cute-10-laptop-pull { right: 83.333333333333%; }
  .cute-11-laptop-pull { right: 91.666666666667%; }

  .center-laptop {
    margin-left: auto;
    margin-right:auto;
    float:none !important;
  }
  .uncenter-laptop {
    margin-left: 0;
    margin-right: 0;
    float:left !important;
  }
  .uncenter-laptop.right {
    float:right !important;
  }

  [class*='cute-'].laptop-reset {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
}

/* Grid Classes for Large Desktop Size */
.show-desktop { display: none; }
@media only screen and (min-width: 75em) {
  .cute-1-desktop { width: 8.3333333333333%; }
  .cute-2-desktop { width: 16.666666666667%; }
  .cute-3-desktop { width: 25%; }
  .cute-4-desktop { width: 33.333333333333%; }
  .cute-5-desktop { width: 41.666666666667%; }
  .cute-6-desktop { width: 50%; }
  .cute-7-desktop { width: 58.333333333333%; }
  .cute-8-desktop { width: 66.666666666667%; }
  .cute-9-desktop { width: 75%; }
  .cute-10-desktop { width: 83.333333333333%; }
  .cute-11-desktop { width: 91.666666666667%; }
  .cute-12-desktop { width: 100%; }

  /* offset for tablet laptop widths */
  .cute-0-desktop-offset { margin: 0; }
  .cute-1-desktop-offset { margin-left: 8.3333333333333%; }
  .cute-2-desktop-offset { margin-left: 16.666666666667%; }
  .cute-3-desktop-offset { margin-left: 25%; }
  .cute-4-desktop-offset { margin-left: 33.333333333333%; }
  .cute-5-desktop-offset { margin-left: 41.666666666667%; }
  .cute-6-desktop-offset { margin-left: 50%; }
  .cute-7-desktop-offset { margin-left: 58.333333333333%; }
  .cute-8-desktop-offset { margin-left: 66.666666666667%; }
  .cute-9-desktop-offset { margin-left: 75%; }
  .cute-10-desktop-offset { margin-left: 83.333333333333%; }
  .cute-11-desktop-offset { margin-left: 91.666666666667%; }

  .cute-1-desktop-push { left: 8.3333333333333%; }
  .cute-2-desktop-push { left: 16.666666666667%; }
  .cute-3-desktop-push { left: 25%; }
  .cute-4-desktop-push { left: 33.333333333333%; }
  .cute-5-desktop-push { left: 41.666666666667%; }
  .cute-6-desktop-push { left: 50%; }
  .cute-7-desktop-push { left: 58.333333333333%; }
  .cute-8-desktop-push { left: 66.666666666667%; }
  .cute-9-desktop-push { left: 75%; }
  .cute-10-desktop-push { left: 83.333333333333%; }
  .cute-11-desktop-push { left: 91.666666666667%; }

  .cute-1-desktop-pull { right: 8.3333333333333%; }
  .cute-2-desktop-pull { right: 16.666666666667%; }
  .cute-3-desktop-pull { right: 25%; }
  .cute-4-desktop-pull { right: 33.333333333333%; }
  .cute-5-desktop-pull { right: 41.666666666667%; }
  .cute-6-desktop-pull { right: 50%; }
  .cute-7-desktop-pull { right: 58.333333333333%; }
  .cute-8-desktop-pull { right: 66.666666666667%; }
  .cute-9-desktop-pull { right: 75%; }
  .cute-10-desktop-pull { right: 83.333333333333%; }
  .cute-11-desktop-pull { right: 91.666666666667%; }

  .center-desktop {
    margin-left: auto;
    margin-right:auto;
    float:none !important;
  }
  .uncenter-desktop {
    margin-left: 0;
    margin-right: 0;
    float:left !important;
  }
  .uncenter-desktop.right {
    float:right !important;
  }

  [class*='cute-'].desktop-reset {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
}

@media only screen and (max-width: 30em){
    .cute-100 { width:100%;}
}

/* Make visible or hidden block elements */

  .show-phone { display: none !important; }
  .hide-phone { display: block !important; }
@media only screen and (max-width: 47.938em) {
  
  .phone { width: 100%; }
  .hide-phone { display:none !important; }
  .show-phone { display: block !important; }
}

  .show-tablet { display: none !important; }
  .hide-tablet { display: block !important; }
@media only screen and (min-width: 48em) and (max-width: 61.938em) { 
  
  .hide-tablet { display: none !important; }
  .show-tablet { display: block !important; }

}
  .show-laptop { display: none !important; }
  .hide-laptop { display: block !important; }
@media only screen and (min-width: 62em) and (max-width: 74.938em) { 

  .hide-laptop { display: none !important; }
  .show-laptop { display: block !important; }
}

  .show-desktop { display: none !important; }
  .hide-desktop { display: block !important; }
@media only screen and (min-width: 75em) { 
  .hide-desktop { display: none !important; }
  .show-desktop { display: block !important; } 
}

/* make images responsive */
.responsive-img {
    display: block;
    height: auto;
    max-width: 100%;
}
/* Optional Extras */

/* something to keep tables horizontal with scroll when on small screen 
*  Useful if table is wide. Set media query to point where table needs it
*/ 
/*
@media only screen and (max-width: 47.938em) {
  .table-respond {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
}
*/

/* @end */

/* @group Global Variables */

code {
	padding: 2px 4px;
	font-size: 80%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: nowrap;
	border-radius: 4px;
}

/* @end */

/* @group Typography */

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 350%;
	color: #102643;
}

h2 {
	font-size: 300%;
	color: #102643;
}

h3 {
	font-size: 250%;
	color: #102643;
}

h4 {
	font-size: 200%;
	color: #102643;
}

h5 {
	font-size: 150%;
	color: #102643;
}

h6 {
	font-size: 100%;
	color: #102643;
}

p {
	margin-top: 1%;
	margin-bottom: 1%;
}

ul {
	padding: 1% 1.50em;
	list-style: disc;
}

ol {
	padding: 1% 1.50em;
	list-style: decimal;
}

/* @end */

/* @group Horizontal Rules */

hr.wtf-hr-solid {
    border: 0;
    height: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
    background: #000000;
}
		
hr.wtf-hr-fade-middle {
    border: 0;
    height: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

hr.wtf-hr-fade-right {
    border: 0;
    height: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.75)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.75)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.75)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.75)); 
}

hr.wtf-hr-fade-left {
    border: 0;
    height: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0), rgba(0,0,0,0)); 
}

/* @end */

/* @group Line Heights */

.wtf-lineheight-100 {
	line-height: 1.00em;
}

.wtf-lineheight-110 {
	line-height: 1.10em;
}

.wtf-lineheight-120 {
	line-height: 1.20em;
}

.wtf-lineheight-130 {
	line-height: 1.30em;
}

.wtf-lineheight-140 {
	line-height: 1.40em;
}

.wtf-lineheight-150 {
	line-height: 1.50em;
}

.wtf-lineheight-160 {
	line-height: 1.60em;
}

.wtf-lineheight-170 {
	line-height: 1.70em;
}

.wtf-lineheight-180 {
	line-height: 1.80em;
}

.wtf-lineheight-190 {
	line-height: 1.90em;
}

.wtf-lineheight-200 {
	line-height: 2.00em;
}

/* @end */

/* @group Background Fills */

/* @group Reds */

.wtf-fill-indianred,
.wtf-fill-CD5C5C {
	background: #CD5C5C;
	color: #ffffff;
}

.wtf-fill-lightcoral,
.wtf-fill-F08080 {
	background: #F08080;
	color: #000000;
}

.wtf-fill-salmon,
.wtf-fill-FA8072 {
	background: #FA8072;
	color: #000000;
}

.wtf-fill-darksalmon,
.wtf-fill-E9967A {
	background: #E9967A;
	color: #000000;
}

.wtf-fill-lightsalmon,
.wtf-fill-FFA07A {
	background: #FFA07A;
	color: #000000;
}

.wtf-fill-crimson,
.wtf-fill-DC143C {
	background: #DC143C;
	color: #ffffff;
}

.wtf-fill-red,
.wtf-fill-FF0000 {
	background: #FF0000;
	color: #FFFFFF;
}

.wtf-fill-firebrick,
.wtf-fill-B22222 {
	background: #B22222;
	color: #FFFFFF;
}

.wtf-fill-darkred,
.wtf-fill-8B0000 {
	background: #8B0000;
	color: #FFFFFF;
}

/* @end */

/* @group Pinks */

.wtf-fill-pink,
.wtf-fill-FFC0CB {
	background: #FFC0CB;
	color: #000000;
}

.wtf-fill-lightpink,
.wtf-fill-FFB6C1 {
	background: #FFB6C1;
	color: #000000;
}

.wtf-fill-hotpink,
.wtf-fill-FF69B4 {
	background: #FF69B4;
	color: #000000;
}

.wtf-fill-deeppink,
.wtf-fill-FF1493 {
	background: #FF1493;
	color: #ffffff;
}

.wtf-fill-mediumvioletred,
.wtf-fill-C71585 {
	background: #C71585;
	color: #ffffff;
}

.wtf-fill-palevioletred,
.wtf-fill-DB7093 {
	background: #DB7093;
	color: #000000;
}

/* @end */

/* @group Oranges */

.wtf-fill-coral,
.wtf-fill-FF7F50 {
	background: #FF7F50;
	color: #000000;
}

.wtf-fill-tomato,
.wtf-fill-FF6347 {
	background: #FF6347;
	color: #000000;
}

.wtf-fill-orangered,
.wtf-fill-FF4500 {
	background: #FF4500;
	color: #ffffff;
}

.wtf-fill-darkorange,
.wtf-fill-FF8C00 {
	background: #FF8C00;
	color: #000000;
}

.wtf-fill-orange,
.wtf-fill-FFA500 {
	background: #FFA500;
	color: #000000;
}

/* @end */

/* @group Yellows */

.wtf-fill-gold,
.wtf-fill-FFD700 {
	background: #FFD700;
	color: #000000;
}

.wtf-fill-yellow,
.wtf-fill-FFFF00 {
	background: #FFFF00;
	color: #000000;
}

.wtf-fill-lightyellow,
.wtf-fill-FFFFE0 {
	background: #FFFFE0;
	color: #000000;
}
.wtf-fill-lemonchiffon,
.wtf-fill-FFFACD {
	background: #FFFACD;
	color: #000000;
}

.wtf-fill-lightgold,
.wtf-fill-FAFAD2 {
	background: #FAFAD2;
	color: #000000;
}

.wtf-fill-papaya,
.wtf-fill-FFEFD5 {
	background: #FFEFD5;
	color: #000000;
}

.wtf-fill-moccasin,
.wtf-fill-FFE4B5 {
	background: #FFE4B5;
	color: #000000;
}

.wtf-fill-peachpuff,
.wtf-fill-FFDAB9 {
	background: #FFDAB9;
	color: #000000;
}

.wtf-fill-palegold,
.wtf-fill-EEE8AA {
	background: #EEE8AA;
	color: #000000;
}

.wtf-fill-khaki,
.wtf-fill-F0E68C {
	background: #F0E68C;
	color: #000000;
}

.wtf-fill-darkkhaki,
.wtf-fill-BDB76B {
	background: #BDB76B;
	color: #000000;
}

/* @end */

/* @group Purples */

.wtf-fill-lavender,
.wtf-fill-E6E6FA {
	background: #E6E6FA;
	color: #000000;
}

.wtf-fill-thistle,
.wtf-fill-D8BFD8 {
	background: #D8BFD8;
	color: #000000;
}

.wtf-fill-plum,
.wtf-fill-DDA0DD {
	background: #DDA0DD;
	color: #000000;
}

.wtf-fill-violet,
.wtf-fill-EE82EE {
	background: #EE82EE;
	color: #000000;
}

.wtf-fill-orchid,
.wtf-fill-DA70D6 {
	background: #DA70D6;
	color: #000000;
}

.wtf-fill-fuschsia,
.wtf-fill-FF00FF {
	background: #FF00FF;
	color: #ffffff;
}

.wtf-fill-magenta,
.wtf-fill-FF00FF {
	background: #FF00FF;
	color: #ffffff;
}

.wtf-fill-mediumorchid,
.wtf-fill-BA55D3 {
	background: #BA55D3;
	color: #000000;
}

.wtf-fill-mediumpurple,
.wtf-fill-9370DB {
	background: #9370DB;
	color: #000000;
}

.wtf-fill-amethyst,
.wtf-fill-9966CC {
	background: #9966CC;
	color: #000000;
}

.wtf-fill-blueviolet,
.wtf-fill-8A2BE2 {
	background: #8A2BE2;
	color: #ffffff;
}

.wtf-fill-darkviolet,
.wtf-fill-9400D3 {
	background: #9400D3;
	color: #ffffff;
}

.wtf-fill-darkorchid,
.wtf-fill-9932CC {
	background: #9932CC;
	color: #ffffff;
}

.wtf-fill-darkmagenta,
.wtf-fill-8B008B {
	background: #8B008B;
	color: #ffffff;
}

.wtf-fill-purple,
.wtf-fill-800080 {
	background: #800080;
	color: #ffffff;
}

.wtf-fill-indigo,
.wtf-fill-4B0082 {
	background: #4B0082;
	color: #ffffff;
}

.wtf-fill-slateblue,
.wtf-fill-6A5ACD {
	background: #6A5ACD;
	color: #ffffff;
}

.wtf-fill-darkslateblue,
.wtf-fill-483D8B {
	background: #483D8B;
	color: #ffffff;
}

.wtf-fill-mediumslateblue,
.wtf-fill-7B68EE {
	background: #7B68EE;
	color: #ffffff;
}

/* @end */

/* @group Greens */

.wtf-fill-greenyellow,
.wtf-fill-ADFF2F {
	background: #ADFF2F;
	color: #000000;
}

.wtf-fill-chartreuse,
.wtf-fill-7FFF00 {
	background: #7FFF00;
	color: #000000;
}

.wtf-fill-lawngreen,
.wtf-fill-7CFC00 {
	background: #7CFC00;
	color: #000000;
}

.wtf-fill-lime,
.wtf-fill-00FF00 {
	background: #00FF00;
	color: #000000;
}

.wtf-fill-limegreen,
.wtf-fill-32CD32 {
	background: #32CD32;
	color: #000000;
}

.wtf-fill-palegreen,
.wtf-fill-98FB98 {
	background: #98FB98;
	color: #000000;
}

.wtf-fill-lightgreen,
.wtf-fill-90EE90 {
	background: #90EE90;
	color: #000000;
}

.wtf-fill-mediumspringgreen,
.wtf-fill-00FA9A {
	background: #00FA9A;
	color: #000000;
}

.wtf-fill-springgreen,
.wtf-fill-00FF7F {
	background: #00FF7F;
	color: #000000;
}

.wtf-fill-mediumseagreen,
.wtf-fill-3CB371 {
	background: #3CB371;
	color: #000000;
}
.wtf-fill-seagreen,
.wtf-fill-2E8B57 {
	background: #2E8B57;
	color: #ffffff;
}
.wtf-fill-forestgreen,
.wtf-fill-228B22 {
	background: #228B22;
	color: #ffffff;
}
.wtf-fill-green,
.wtf-fill-008000 {
	background: #008000;
	color: #ffffff;
}
.wtf-fill-darkgreen,
.wtf-fill-006400 {
	background: #006400;
	color: #ffffff;
}
.wtf-fill-yellowgreen,
.wtf-fill-9ACD32 {
	background: #9ACD32;
	color: #000000;
}
.wtf-fill-olivedrab,
.wtf-fill-6B8E23 {
	background: #6B8E23;
	color: #ffffff;
}
.wtf-fill-olive,
.wtf-fill-808000 {
	background: #808000;
	color: #ffffff;
}
.wtf-fill-darkolivegreen,
.wtf-fill-556B2F {
	background: #556B2F;
	color: #ffffff;
}
.wtf-fill-mediumaquamarine,
.wtf-fill-66CDAA {
	background: #66CDAA;
	color: #000000;
}
.wtf-fill-darkseagreen,
.wtf-fill-8FBC8F {
	background: #8FBC8F;
	color: #000000;
}
.wtf-fill-lightseagreen,
.wtf-fill-20B2AA {
	background: #20B2AA;
	color: #000000;
}
.wtf-fill-darkcyan,
.wtf-fill-008B8B {
	background: #008B8B;
	color: #ffffff;
}
.wtf-fill-teal,
.wtf-fill-008080 {
	background: #008080;
	color: #ffffff;
}

/* @end */

/* @group Blues */

.wtf-fill-aqau,
.wtf-fill-00FFFF {
	background: #00FFFF;
	color: #000000;
}
.wtf-fill-cyan,
.wtf-fill-00FFFF {
	background: #00FFFF;
}
.wtf-fill-lightcyan,
.wtf-fill-E0FFFF {
	background: #E0FFFF;
}

.wtf-fill-paleturquoise,
.wtf-fill-AFEEEE {
	background: #AFEEEE;
}

.wtf-fill-aquamarine,
.wtf-fill-7FFFD4 {
	background: #7FFFD4;
}

.wtf-fill-turquoise,
.wtf-fill-40E0D0 {
	background: #40E0D0;
}

.wtf-fill-mediumturquoise,
.wtf-fill-48D1CC {
	background: #48D1CC;
}

.wtf-fill-darkturquoise,
.wtf-fill-00CED1 {
	background: #00CED1;
}

.wtf-fill-cadetblue,
.wtf-fill-5F9EA0 {
	background: #5F9EA0;
}

.wtf-fill-steelblue,
.wtf-fill-4682B4 {
	background: #4682B4;
}

.wtf-fill-lightsteelblue,
.wtf-fill-B0C4DE {
	background: #B0C4DE;
}

.wtf-fill-powderblue,
.wtf-fill-B0E0E6 {
	background: #B0E0E6;
}

.wtf-fill-lightblue,
.wtf-fill-ADD8E6 {
	background: #ADD8E6;
}

.wtf-fill-skyblue,
.wtf-fill-87CEEB {
	background: #87CEEB;
}

.wtf-fill-lightskyblue,
.wtf-fill-87CEFA {
	background: #87CEFA;
}

.wtf-fill-deepskyblue,
.wtf-fill-00BFFF {
	background: #00BFFF;
}

.wtf-fill-dodger,
.wtf-fill-1E90FF {
	background: #1E90FF;
}

.wtf-fill-cornflowerblue,
.wtf-fill-6495ED {
	background: #6495ED;
}

.wtf-fill-royalblue,
.wtf-fill-4169E1 {
	background: #4169E1;
	color: #ffffff;
}

.wtf-fill-blue,
.wtf-fill-0000FF {
	background: #0000FF;
	color: #ffffff;
}

.wtf-fill-mediumblue,
.wtf-fill-0000CD {
	background: #0000CD;
	color: #ffffff;
}

.wtf-fill-darkblue,
.wtf-fill-00008B {
	background: #00008B;
	color: #ffffff;
}

.wtf-fill-navyblue,
.wtf-fill-000080 {
	background: #000080;
	color: #ffffff;
}

.wtf-fill-midnightblue,
.wtf-fill-191970 {
	background: #191970;
	color: #ffffff;
}

/* @end */

/* @group Browns */

/* Browns */

.wtf-fill-cornsilk,
.wtf-fill-FFF8DC {
	background: #FFF8DC;
	color: #000000;
}

.wtf-fill-blamchedalmond,
.wtf-fill-FFEBCD {
	background: #FFEBCD;
	color: #000000;
}

.wtf-fill-bisque,
.wtf-fill-FFE4C4 {
	background: #FFE4C4;
	color: #000000;
}

.wtf-fill-navajowhite,
.wtf-fill-FFDEAD {
	background: #FFDEAD;
	color: #000000;
}

.wtf-fill-wheat,
.wtf-fill-F5DEB3 {
	background: #F5DEB3;
	color: #000000;
}

.wtf-fill-burlywood,
.wtf-fill-DEB887 {
	background: #DEB887;
	color: #000000;
}

.wtf-fill-tan,
.wtf-fill-D2B48C {
	background: #D2B48C;
	color: #000000;
}

.wtf-fill-rosybrown,
.wtf-fill-BC8F8F {
	background: #AC7B7C;
	color: #000000;
}

.wtf-fill-sandybrown,
.wtf-fill-EDC9AF {
	background: #EDC9AF;
	color: #000000;
}

.wtf-fill-goldenrod,
.wtf-fill-DAA520 {
	background: #DAA520;
	color: #000000;
}

.wtf-fill-darkgoldenrod,
.wtf-fill-B8860B {
	background: #B8860B;
	color: #000000;
}

.wtf-fill-peru,
.wtf-fill-CD853F {
	background: #CD853F;
	color: #000000;
}

.wtf-fill-chocolate,
.wtf-fill-DC691E {
	background: #DC691E;
	color: #000000;
}

.wtf-fill-saddlebrown,
.wtf-fill-8B4513 {
	background: #8B4513;
	color: #ffffff;
}

.wtf-fill-sienna,
.wtf-fill-A0522D {
	background: #A0522D;
	color: #ffffff;
}

.wtf-fill-brown,
.wtf-fill-A52A2A {
	background: #A52A2A;
	color: #ffffff;
}

.wtf-fill-maroon,
.wtf-fill-800000 {
	background: #800000;
	color: #ffffff;
}

/* @end */

/* @group Whites */

.wtf-fill-white,
.wft-fill-FFFFFF {
	background: #FFFFFF;
	color: #000000;
}

.wtf-fill-snow,
.wft-fill-FFFAFA {
	background: #FFFAFA;
	color: #000000;
}

.wtf-fill-honeydew,
.wft-fill-F0FFF0 {
	background: #F0FFF0;
	color: #000000;
}

.wtf-fill-mintcream,
.wft-fill-F5FFFA {
	background: #F5FFFA;
	color: #000000;
}

.wtf-fill-azure,
.wft-fill-F0FFFF {
	background: #F0FFFF;
	color: #000000;
}

.wtf-fill-aliceblue,
.wft-fill-F0F8FF {
	background: #F0F8FF;
	color: #000000;
}

.wtf-fill-ghostwhite,
.wft-fill-F8F8FF {
	background: #F8F8FF;
	color: #000000;
}

.wtf-fill-whitesmoke,
.wft-fill-F5F5F5 {
	background: #F5F5F5;
	color: #000000;
}

.wtf-fill-seashell,
.wft-fill-FFF5EE {
	background: #FFF5EE;
	color: #000000;
}

.wtf-fill-beige,
.wft-fill-F5F5DC {
	background: #F5F5DC;
	color: #000000;
}

.wtf-fill-oldlace,
.wft-fill-FDF5E6 {
	background: #FDF5E6;
	color: #000000;
}

.wtf-fill-floralwhite,
.wft-fill-FFFAF0 {
	background: #FFFAF0;
	color: #000000;
}

.wtf-fill-ivorywhite,
.wft-fill-FFFFF0 {
	background: #FFFFF0;
	color: #000000;
}

.wtf-fill-antiquewhite,
.wft-fill-FAEBD7 {
	background: #FAEBD7;
	color: #000000;
}

.wtf-fill-linen,
.wft-fill-FAF0E6 {
	background: #FAF0E6;
	color: #000000;
}

.wtf-fill-lavenderblush,
.wft-fill-FFF0F5 {
	background: #FFF0F5;
	color: #000000;
}

.wtf-fill-mistyrose,
.wft-fill-FFE4E1 {
	background: #FFE4E1;
	color: #000000;
}

/* @end */

/* @group Greys */

.wtf-fill-mercury,
.wtf-fill-EAEAEA {
	background: #EAEAEA;
	color: #000000;
}

.wtf-fill-gainsboro,
.wtf-fill-DCDCDC {
	background: #DCDCDC;
	color: #000000;
}

.wtf-fill-lightgrey,
.wtf-fill-D3D3D3 {
	background: #D3D3D3;
	color: #000000;
}

.wtf-fill-silver,
.wtf-fill-C0C0C0 {
	background: #C0C0C0;
	color: #000000;
}

.wtf-fill-darkgray,
.wtf-fill-A9A9A9 {
	background: #A9A9A9;
	color: #000000;
}

.wtf-fill-aluminum,
.wtf-fill-999999 {
	background: #999999;
	color: #ffffff;
}

.wtf-fill-gray,
.wtf-fill-808080 {
	background: #808080;
	color: #ffffff;
}

.wtf-fill-dimgray,
.wtf-fill-696969 {
	background: #696969;
	color: #ffffff;
}

.wtf-fill-lightslategray,
.wtf-fill-778899 {
	background: #778899;
	color: #ffffff;
}

.wtf-fill-slategray,
.wtf-fill-708090 {
	background: #708090;
	color: #ffffff;
}

.wtf-fill-tin,
.wtf-fill-7f7f7f {
	background: #7f7f7f;
	color: #ffffff;
}

.wtf-fill-steel,
.wtf-fill-666666 {
	background: #666666;
	color: #ffffff;
}

.wtf-fill-iron,
.wtf-fill-4c4c4c {
	background: #4c4c4c;
	color: #ffffff;
}

.wtf-fill-tungsten,
.wtf-fill-333333 {
	background: #333333;
	color: #ffffff;
}

.wtf-fill-darkslategray,
.wtf-fill-2F2F2F {
	background: #2F2F2F;
	color: #ffffff;
}

.wtf-fill-lead,
.wtf-fill-191919 {
	background: #191919;
	color: #ffffff;
}

.wtf-fill-black,
.wtf-fill-000000 {
	background: #000000;
	color: #ffffff;
}

/* @end */

/* @end */

/* @group Border Colors */

/* @group Reds */

.wtf-border-indianred,
.wtf-border-CD5C5C {
	border-color: #CD5C5C;
}

.wtf-border-lightcoral,
.wtf-border-F08080 {
	border-color: #F08080;
}

.wtf-border-salmon,
.wtf-border-FA8072 {
	border-color: #FA8072;
}

.wtf-border-darksalmon,
.wtf-border-E9967A {
	border-color: #E9967A;
}

.wtf-border-lightsalmon,
.wtf-border-FFA07A {
	border-color: #FFA07A;
}

.wtf-border-crimson,
.wtf-border-DC143C {
	border-color: #DC143C;
}

.wtf-border-red,
.wtf-border-FF0000 {
	border-color: #FF0000;
}

.wtf-border-firebrick,
.wtf-border-B22222 {
	border-color: #B22222;
}

.wtf-border-darkred,
.wtf-border-8B0000 {
	border-color: #8B0000;
}

/* @end */

/* @group Pinks */

.wtf-border-pink,
.wtf-border-FFC0CB {
	border-color: #FFC0CB;
}

.wtf-border-lightpink,
.wtf-border-FFB6C1 {
	border-color: #FFB6C1;
}

.wtf-border-hotpink,
.wtf-border-FF69B4 {
	border-color: #FF69B4;
}

.wtf-border-deeppink,
.wtf-border-FF1493 {
	border-color: #FF1493;
}

.wtf-border-mediumvioletred,
.wtf-border-C71585 {
	border-color: #C71585;
}

.wtf-border-palevioletred,
.wtf-border-DB7093 {
	border-color: #DB7093;
}

/* @end */

/* @group Oranges */

.wtf-border-coral,
.wtf-border-FF7F50 {
	border-color: #FF7F50;
}

.wtf-border-tomato,
.wtf-border-FF6347 {
	border-color: #FF6347;
}

.wtf-border-orangered,
.wtf-border-FF4500 {
	border-color: #FF4500;
}

.wtf-border-darkorange,
.wtf-border-FF8C00 {
	border-color: #FF8C00;
}

.wtf-border-orange,
.wtf-border-FFA500 {
	border-color: #FFA500;
}

/* @end */

/* @group Yellows */

.wtf-border-gold,
.wtf-border-FFD700 {
	border-color: #FFD700;
}

.wtf-border-yellow,
.wtf-border-FFFF00 {
	border-color: #FFFF00;
}

.wtf-border-lightyellow,
.wtf-border-FFFFE0 {
	border-color: #FFFFE0;
}
.wtf-border-lemonchiffon,
.wtf-border-FFFACD {
	border-color: #FFFACD;
}

.wtf-border-lightgold,
.wtf-border-FAFAD2 {
	border-color: #FAFAD2;
}

.wtf-border-papaya,
.wtf-border-FFEFD5 {
	border-color: #FFEFD5;
}

.wtf-border-moccasin,
.wtf-border-FFE4B5 {
	border-color: #FFE4B5;
}

.wtf-border-peachpuff,
.wtf-border-FFDAB9 {
	border-color: #FFDAB9;
}

.wtf-border-palegold,
.wtf-border-EEE8AA {
	border-color: #EEE8AA;
}

.wtf-border-khaki,
.wtf-border-F0E68C {
	border-color: #F0E68C;
}

.wtf-border-darkkhaki,
.wtf-border-BDB76B {
	border-color: #BDB76B;
}

/* @end */

/* @group Purples */

.wtf-border-lavender,
.wtf-border-E6E6FA {
	border-color: #E6E6FA;
}

.wtf-border-thistle,
.wtf-border-D8BFD8 {
	border-color: #D8BFD8;
}

.wtf-border-plum,
.wtf-border-DDA0DD {
	border-color: #DDA0DD;
}

.wtf-border-violet,
.wtf-border-EE82EE {
	border-color: #EE82EE;
}

.wtf-border-orchid,
.wtf-border-DA70D6 {
	border-color: #DA70D6;
}

.wtf-border-fuschsia,
.wtf-border-FF00FF {
	border-color: #FF00FF;
}

.wtf-border-magenta,
.wtf-border-FF00FF {
	border-color: #FF00FF;
}

.wtf-border-mediumorchid,
.wtf-border-BA55D3 {
	border-color: #BA55D3;
}

.wtf-border-mediumpurple,
.wtf-border-9370DB {
	border-color: #9370DB;
}

.wtf-border-amethyst,
.wtf-border-9966CC {
	border-color: #9966CC;
}

.wtf-border-blueviolet,
.wtf-border-8A2BE2 {
	border-color: #8A2BE2;
}

.wtf-border-darkviolet,
.wtf-border-9400D3 {
	border-color: #9400D3;
}

.wtf-border-darkorchid,
.wtf-border-9932CC {
	border-color: #9932CC;
}

.wtf-border-darkmagenta,
.wtf-border-8B008B {
	border-color: #8B008B;
}

.wtf-border-purple,
.wtf-border-800080 {
	border-color: #800080;
}

.wtf-border-indigo,
.wtf-border-4B0082 {
	border-color: #4B0082;
}

.wtf-border-slateblue,
.wtf-border-6A5ACD {
	border-color: #6A5ACD;
}

.wtf-border-darkslateblue,
.wtf-border-483D8B {
	border-color: #483D8B;
}

.wtf-border-mediumslateblue,
.wtf-border-7B68EE {
	border-color: #7B68EE;
}

/* @end */

/* @group Greens */

.wtf-border-greenyellow,
.wtf-border-ADFF2F {
	border-color: #ADFF2F;
}

.wtf-border-chartreuse,
.wtf-border-7FFF00 {
	border-color: #7FFF00;
}

.wtf-border-lawngreen,
.wtf-border-7CFC00 {
	border-color: #7CFC00;
}

.wtf-border-lime,
.wtf-border-00FF00 {
	border-color: #00FF00;
}

.wtf-border-limegreen,
.wtf-border-32CD32 {
	border-color: #32CD32;
}

.wtf-border-palegreen,
.wtf-border-98FB98 {
	border-color: #98FB98;
}

.wtf-border-lightgreen,
.wtf-border-90EE90 {
	border-color: #90EE90;
}

.wtf-border-mediumspringgreen,
.wtf-border-00FA9A {
	border-color: #00FA9A;
}

.wtf-border-springgreen,
.wtf-border-00FF7F {
	border-color: #00FF7F;
}

.wtf-border-mediumseagreen,
.wtf-border-3CB371 {
	border-color: #3CB371;
}

.wtf-border-seagreen,
.wtf-border-2E8B57 {
	border-color: #2E8B57;
}

.wtf-border-forestgreen,
.wtf-border-228B22 {
	border-color: #228B22;
}

.wtf-border-green,
.wtf-border-008000 {
	border-color: #008000;
}

.wtf-border-darkgreen,
.wtf-border-006400 {
	border-color: #006400;
}

.wtf-border-yellowgreen,
.wtf-border-9ACD32 {
	border-color: #9ACD32;
}

.wtf-border-olivedrab,
.wtf-border-6B8E23 {
	border-color: #6B8E23;
}

.wtf-border-olive,
.wtf-border-808000 {
	border-color: #808000;
}

.wtf-border-darkolivegreen,
.wtf-border-556B2F {
	border-color: #556B2F;
}

.wtf-border-mediumaquamarine,
.wtf-border-66CDAA {
	border-color: #66CDAA;
}

.wtf-border-darkseagreen,
.wtf-border-8FBC8F {
	border-color: #8FBC8F;
}

.wtf-border-lightseagreen,
.wtf-border-20B2AA {
	border-color: #20B2AA;
}

.wtf-border-darkcyan,
.wtf-border-008B8B {
	border-color: #008B8B;
}

.wtf-border-teal,
.wtf-border-008080 {
	border-color: #008080;
}

/* @end */

/* @group Blues */

.wtf-border-aqau,
.wtf-border-00FFFF {
	border-color: #00FFFF;
}

.wtf-border-cyan,
.wtf-border-00FFFF {
	border-color: #00FFFF;
}

.wtf-border-lightcyan,
.wtf-border-E0FFFF {
	border-color: #E0FFFF;
}

.wtf-border-paleturquoise,
.wtf-border-AFEEEE {
	border-color: #AFEEEE;
}

.wtf-border-aquamarine,
.wtf-border-7FFFD4 {
	border-color: #7FFFD4;
}

.wtf-border-turquoise,
.wtf-border-40E0D0 {
	border-color: #40E0D0;
}

.wtf-border-mediumturquoise,
.wtf-border-48D1CC {
	border-color: #48D1CC;
}

.wtf-border-darkturquoise,
.wtf-border-00CED1 {
	border-color: #00CED1;
}

.wtf-border-cadetblue,
.wtf-border-5F9EA0 {
	border-color: #5F9EA0;
}

.wtf-border-steelblue,
.wtf-border-4682B4 {
	border-color: #4682B4;
}

.wtf-border-lightsteelblue,
.wtf-border-B0C4DE {
	border-color: #B0C4DE;
}

.wtf-border-powderblue,
.wtf-border-B0E0E6 {
	border-color: #B0E0E6;
}

.wtf-border-lightblue,
.wtf-border-ADD8E6 {
	border-color: #ADD8E6;
}

.wtf-border-skyblue,
.wtf-border-87CEEB {
	border-color: #87CEEB;
}

.wtf-border-lightskyblue,
.wtf-border-87CEFA {
	border-color: #87CEFA;
}

.wtf-border-deepskyblue,
.wtf-border-00BFFF {
	border-color: #00BFFF;
}

.wtf-border-dodger,
.wtf-border-1E90FF {
	border-color: #1E90FF;
}

.wtf-border-cornflowerblue,
.wtf-border-6495ED {
	border-color: #6495ED;
}

.wtf-border-royalblue,
.wtf-border-4169E1 {
	border-color: #4169E1;
}

.wtf-border-blue,
.wtf-border-0000FF {
	border-color: #0000FF;
}

.wtf-border-mediumblue,
.wtf-border-0000CD {
	border-color: #0000CD;
}

.wtf-border-darkblue,
.wtf-border-00008B {
	border-color: #00008B;
}

.wtf-border-navyblue,
.wtf-border-000080 {
	border-color: #000080;
}

.wtf-border-midnightblue,
.wtf-border-191970 {
	border-color: #191970;
}

/* @end */

/* @group Browns */

/* Browns */

.wtf-border-cornsilk,
.wtf-border-FFF8DC {
	border-color: #FFF8DC;
}

.wtf-border-blamchedalmond,
.wtf-border-FFEBCD {
	border-color: #FFEBCD;
}

.wtf-border-bisque,
.wtf-border-FFE4C4 {
	border-color: #FFE4C4;
}

.wtf-border-navajowhite,
.wtf-border-FFDEAD {
	border-color: #FFDEAD;
}

.wtf-border-wheat,
.wtf-border-F5DEB3 {
	border-color: #F5DEB3;
}

.wtf-border-burlywood,
.wtf-border-DEB887 {
	border-color: #DEB887;
}

.wtf-border-tan,
.wtf-border-D2B48C {
	border-color: #D2B48C;
}

.wtf-border-rosybrown,
.wtf-border-BC8F8F {
	border-color: #AC7B7C;
}

.wtf-border-sandybrown,
.wtf-border-EDC9AF {
	border-color: #EDC9AF;
}

.wtf-border-goldenrod,
.wtf-border-DAA520 {
	border-color: #DAA520;
}

.wtf-border-darkgoldenrod,
.wtf-border-B8860B {
	border-color: #B8860B;
}

.wtf-border-peru,
.wtf-border-CD853F {
	border-color: #CD853F;
	
}

.wtf-border-chocolate,
.wtf-border-DC691E {
	border-color: #DC691E;
}

.wtf-border-saddlebrown,
.wtf-border-8B4513 {
	border-color: #8B4513;
}

.wtf-border-sienna,
.wtf-border-A0522D {
	border-color: #A0522D;
}

.wtf-border-brown,
.wtf-border-A52A2A {
	border-color: #A52A2A;
}

.wtf-border-maroon,
.wtf-border-800000 {
	border-color: #800000;
}

/* @end */

/* @group Whites */

.wtf-border-white,
.wft-fill-FFFFFF {
	border-color: #FFFFFF;
}

.wtf-border-snow,
.wft-fill-FFFAFA {
	border-color: #FFFAFA;
}

.wtf-border-honeydew,
.wft-fill-F0FFF0 {
	border-color: #F0FFF0;
}

.wtf-border-mintcream,
.wft-fill-F5FFFA {
	border-color: #F5FFFA;
}

.wtf-border-azure,
.wft-fill-F0FFFF {
	border-color: #F0FFFF;
}

.wtf-border-aliceblue,
.wft-fill-F0F8FF {
	border-color: #F0F8FF;
}

.wtf-border-ghostwhite,
.wft-fill-F8F8FF {
	border-color: #F8F8FF;
}

.wtf-border-whitesmoke,
.wft-fill-F5F5F5 {
	border-color: #F5F5F5;
}

.wtf-border-seashell,
.wft-fill-FFF5EE {
	border-color: #FFF5EE;
}

.wtf-border-beige,
.wft-fill-F5F5DC {
	border-color: #F5F5DC;
}

.wtf-border-oldlace,
.wft-fill-FDF5E6 {
	border-color: #FDF5E6;
}

.wtf-border-floralwhite,
.wft-fill-FFFAF0 {
	border-color: #FFFAF0;
}

.wtf-border-ivorywhite,
.wft-fill-FFFFF0 {
	border-color: #FFFFF0;
}

.wtf-border-antiquewhite,
.wft-fill-FAEBD7 {
	border-color: #FAEBD7;
}

.wtf-border-linen,
.wft-fill-FAF0E6 {
	border-color: #FAF0E6;
}

.wtf-border-lavenderblush,
.wft-fill-FFF0F5 {
	border-color: #FFF0F5;
}

.wtf-border-mistyrose,
.wft-fill-FFE4E1 {
	border-color: #FFE4E1;
}

/* @end */

/* @group Greys */

.wtf-border-mercury,
.wtf-border-EAEAEA {
	border-color: #EAEAEA;
}

.wtf-border-gainsboro,
.wtf-border-DCDCDC {
	border-color: #DCDCDC;
}

.wtf-border-lightgrey,
.wtf-border-D3D3D3 {
	border-color: #D3D3D3;
}

.wtf-border-silver,
.wtf-border-C0C0C0 {
	border-color: #C0C0C0;
}

.wtf-border-darkgray,
.wtf-border-A9A9A9 {
	border-color: #A9A9A9;
}

.wtf-border-aluminum,
.wtf-border-999999 {
	border-color: #999999;
}

.wtf-border-gray,
.wtf-border-808080 {
	border-color: #808080;
}

.wtf-border-dimgray,
.wtf-border-696969 {
	border-color: #696969;
}

.wtf-border-lightslategray,
.wtf-border-778899 {
	border-color: #778899;
}

.wtf-border-slategray,
.wtf-border-708090 {
	border-color: #708090;
}

.wtf-border-tin,
.wtf-border-7f7f7f {
	border-color: #7f7f7f;
}

.wtf-border-steel,
.wtf-border-666666 {
	border-color: #666666;
}

.wtf-border-iron,
.wtf-border-4c4c4c {
	border-color: #4c4c4c;
}

.wtf-border-tungsten,
.wtf-border-333333 {
	border-color: #333333;
}

.wtf-border-darkslategray,
.wtf-border-2F2F2F {
	border-color: #2F2F2F;
}

.wtf-border-lead,
.wtf-border-191919 {
	border-color: #191919;
}

.wtf-border-black,
.wtf-border-000000 {
	border-color: #000000;
}

/* @end */

/* @end */

/* @group Text Colors */

/* @group Reds */

.wtf-color-indianred,
.wtf-color-CD5C5C {
	color: #CD5C5C;
}

.wtf-color-lightcoral,
.wtf-color-F08080 {
	color: #F08080;
}

.wtf-color-salmon,
.wtf-color-FA8072 {
	color: #FA8072;
}

.wtf-color-darksalmon,
.wtf-color-E9967A {
	color: #E9967A;
}

.wtf-color-lightsalmon,
.wtf-color-FFA07A {
	color: #FFA07A;
}

.wtf-color-crimson,
.wtf-color-DC143C {
	color: #DC143C;
}

.wtf-color-red,
.wtf-color-FF0000 {
	color: #FF0000;
}

.wtf-color-firebrick,
.wtf-color-B22222 {
	color: #B22222;
}

.wtf-color-darkred,
.wtf-color-8B0000 {
	color: #8B0000;
}

/* @end */

/* @group Pinks */

.wtf-color-pink,
.wtf-color-FFC0CB {
	color: #FFC0CB;
}

.wtf-color-lightpink,
.wtf-color-FFB6C1 {
	color: #FFB6C1;
}

.wtf-color-hotpink,
.wtf-color-FF69B4 {
	color: #FF69B4;
}

.wtf-color-deeppink,
.wtf-color-FF1493 {
	color: #FF1493;
}

.wtf-color-mediumvioletred,
.wtf-color-C71585 {
	color: #C71585;
}

.wtf-color-palevioletred,
.wtf-color-DB7093 {
	color: #DB7093;
}

/* @end */

/* @group Oranges */

.wtf-color-coral,
.wtf-color-FF7F50 {
	color: #FF7F50;
}

.wtf-color-tomato,
.wtf-color-FF6347 {
	color: #FF6347;
}

.wtf-color-orangered,
.wtf-color-FF4500 {
	color: #FF4500;
}

.wtf-color-darkorange,
.wtf-color-FF8C00 {
	color: #FF8C00;
}

.wtf-color-orange,
.wtf-color-FFA500 {
	color: #FFA500;
}

/* @end */

/* @group Yellows */

.wtf-color-gold,
.wtf-color-FFD700 {
	color: #FFD700;
}

.wtf-color-yellow,
.wtf-color-FFFF00 {
	color: #FFFF00;
}

.wtf-color-lightyellow,
.wtf-color-FFFFE0 {
	color: #FFFFE0;
}
.wtf-color-lemonchiffon,
.wtf-color-FFFACD {
	color: #FFFACD;
}

.wtf-color-lightgold,
.wtf-color-FAFAD2 {
	color: #FAFAD2;
}

.wtf-color-papaya,
.wtf-color-FFEFD5 {
	color: #FFEFD5;
}

.wtf-color-moccasin,
.wtf-color-FFE4B5 {
	color: #FFE4B5;
}

.wtf-color-peachpuff,
.wtf-color-FFDAB9 {
	color: #FFDAB9;
}

.wtf-color-palegold,
.wtf-color-EEE8AA {
	color: #EEE8AA;
}

.wtf-color-khaki,
.wtf-color-F0E68C {
	color: #F0E68C;
}

.wtf-color-darkkhaki,
.wtf-color-BDB76B {
	color: #BDB76B;
}

/* @end */

/* @group Purples */

.wtf-color-lavender,
.wtf-color-E6E6FA {
	color: #E6E6FA;
}

.wtf-color-thistle,
.wtf-color-D8BFD8 {
	color: #D8BFD8;
}

.wtf-color-plum,
.wtf-color-DDA0DD {
	color: #DDA0DD;
}

.wtf-color-violet,
.wtf-color-EE82EE {
	color: #EE82EE;
}

.wtf-color-orchid,
.wtf-color-DA70D6 {
	color: #DA70D6;
}

.wtf-color-fuschsia,
.wtf-color-FF00FF {
	color: #FF00FF;
}

.wtf-color-magenta,
.wtf-color-FF00FF {
	color: #FF00FF;
}

.wtf-color-mediumorchid,
.wtf-color-BA55D3 {
	color: #BA55D3;
}

.wtf-color-mediumpurple,
.wtf-color-9370DB {
	color: #9370DB;
}

.wtf-color-amethyst,
.wtf-color-9966CC {
	color: #9966CC;
}

.wtf-color-blueviolet,
.wtf-color-8A2BE2 {
	color: #8A2BE2;
}

.wtf-color-darkviolet,
.wtf-color-9400D3 {
	color: #9400D3;
}

.wtf-color-darkorchid,
.wtf-color-9932CC {
	color: #9932CC;
}

.wtf-color-darkmagenta,
.wtf-color-8B008B {
	color: #8B008B;
}

.wtf-color-purple,
.wtf-color-800080 {
	color: #800080;
}

.wtf-color-indigo,
.wtf-color-4B0082 {
	color: #4B0082;
}

.wtf-color-slateblue,
.wtf-color-6A5ACD {
	color: #6A5ACD;
}

.wtf-color-darkslateblue,
.wtf-color-483D8B {
	color: #483D8B;
}

.wtf-color-mediumslateblue,
.wtf-color-7B68EE {
	color: #7B68EE;
}

/* @end */

/* @group Greens */

.wtf-color-greenyellow,
.wtf-color-ADFF2F {
	color: #ADFF2F;
}

.wtf-color-chartreuse,
.wtf-color-7FFF00 {
	color: #7FFF00;
}

.wtf-color-lawngreen,
.wtf-color-7CFC00 {
	color: #7CFC00;
}

.wtf-color-lime,
.wtf-color-00FF00 {
	color: #00FF00;
}

.wtf-color-limegreen,
.wtf-color-32CD32 {
	color: #32CD32;
}

.wtf-color-palegreen,
.wtf-color-98FB98 {
	color: #98FB98;
}

.wtf-color-lightgreen,
.wtf-color-90EE90 {
	color: #90EE90;
}

.wtf-color-mediumspringgreen,
.wtf-color-00FA9A {
	color: #00FA9A;
}

.wtf-color-springgreen,
.wtf-color-00FF7F {
	color: #00FF7F;
}

.wtf-color-mediumseagreen,
.wtf-color-3CB371 {
	color: #3CB371;
}

.wtf-color-seagreen,
.wtf-color-2E8B57 {
	color: #2E8B57;
}

.wtf-color-forestgreen,
.wtf-color-228B22 {
	color: #228B22;
}

.wtf-color-green,
.wtf-color-008000 {
	color: #008000;
}

.wtf-color-darkgreen,
.wtf-color-006400 {
	color: #006400;
}

.wtf-color-yellowgreen,
.wtf-color-9ACD32 {
	color: #9ACD32;
}

.wtf-color-olivedrab,
.wtf-color-6B8E23 {
	color: #6B8E23;
}

.wtf-color-olive,
.wtf-color-808000 {
	color: #808000;
}

.wtf-color-darkolivegreen,
.wtf-color-556B2F {
	color: #556B2F;
}

.wtf-color-mediumaquamarine,
.wtf-color-66CDAA {
	color: #66CDAA;
}

.wtf-color-darkseagreen,
.wtf-color-8FBC8F {
	color: #8FBC8F;
}

.wtf-color-lightseagreen,
.wtf-color-20B2AA {
	color: #20B2AA;
}

.wtf-color-darkcyan,
.wtf-color-008B8B {
	color: #008B8B;
}

.wtf-color-teal,
.wtf-color-008080 {
	color: #008080;
}

/* @end */

/* @group Blues */

.wtf-color-aqau,
.wtf-color-00FFFF {
	color: #00FFFF;
}

.wtf-color-cyan,
.wtf-color-00FFFF {
	color: #00FFFF;
}

.wtf-color-lightcyan,
.wtf-color-E0FFFF {
	color: #E0FFFF;
}

.wtf-color-paleturquoise,
.wtf-color-AFEEEE {
	color: #AFEEEE;
}

.wtf-color-aquamarine,
.wtf-color-7FFFD4 {
	color: #7FFFD4;
}

.wtf-color-turquoise,
.wtf-color-40E0D0 {
	color: #40E0D0;
}

.wtf-color-mediumturquoise,
.wtf-color-48D1CC {
	color: #48D1CC;
}

.wtf-color-darkturquoise,
.wtf-color-00CED1 {
	color: #00CED1;
}

.wtf-color-cadetblue,
.wtf-color-5F9EA0 {
	color: #5F9EA0;
}

.wtf-color-steelblue,
.wtf-color-4682B4 {
	color: #4682B4;
}

.wtf-color-lightsteelblue,
.wtf-color-B0C4DE {
	color: #B0C4DE;
}

.wtf-color-powderblue,
.wtf-color-B0E0E6 {
	color: #B0E0E6;
}

.wtf-color-lightblue,
.wtf-color-ADD8E6 {
	color: #ADD8E6;
}

.wtf-color-skyblue,
.wtf-color-87CEEB {
	color: #87CEEB;
}

.wtf-color-lightskyblue,
.wtf-color-87CEFA {
	color: #87CEFA;
}

.wtf-color-deepskyblue,
.wtf-color-00BFFF {
	color: #00BFFF;
}

.wtf-color-dodger,
.wtf-color-1E90FF {
	color: #1E90FF;
}

.wtf-color-cornflowerblue,
.wtf-color-6495ED {
	color: #6495ED;
}

.wtf-color-royalblue,
.wtf-color-4169E1 {
	color: #4169E1;
}

.wtf-color-blue,
.wtf-color-0000FF {
	color: #0000FF;
}

.wtf-color-mediumblue,
.wtf-color-0000CD {
	color: #0000CD;
}

.wtf-color-darkblue,
.wtf-color-00008B {
	color: #00008B;
}

.wtf-color-navyblue,
.wtf-color-000080 {
	color: #000080;
}

.wtf-color-midnightblue,
.wtf-color-191970 {
	color: #191970;
}

/* @end */

/* @group Browns */

/* Browns */

.wtf-color-cornsilk,
.wtf-color-FFF8DC {
	color: #FFF8DC;
}

.wtf-color-blamchedalmond,
.wtf-color-FFEBCD {
	color: #FFEBCD;
}

.wtf-color-bisque,
.wtf-color-FFE4C4 {
	color: #FFE4C4;
}

.wtf-color-navajowhite,
.wtf-color-FFDEAD {
	color: #FFDEAD;
}

.wtf-color-wheat,
.wtf-color-F5DEB3 {
	color: #F5DEB3;
}

.wtf-color-burlywood,
.wtf-color-DEB887 {
	color: #DEB887;
}

.wtf-color-tan,
.wtf-color-D2B48C {
	color: #D2B48C;
}

.wtf-color-rosybrown,
.wtf-color-BC8F8F {
	color: #AC7B7C;
}

.wtf-color-sandybrown,
.wtf-color-EDC9AF {
	color: #EDC9AF;
}

.wtf-color-goldenrod,
.wtf-color-DAA520 {
	color: #DAA520;
}

.wtf-color-darkgoldenrod,
.wtf-color-B8860B {
	color: #B8860B;
}

.wtf-color-peru,
.wtf-color-CD853F {
	color: #CD853F;
	
}

.wtf-color-chocolate,
.wtf-color-DC691E {
	color: #DC691E;
}

.wtf-color-saddlebrown,
.wtf-color-8B4513 {
	color: #8B4513;
}

.wtf-color-sienna,
.wtf-color-A0522D {
	color: #A0522D;
}

.wtf-color-brown,
.wtf-color-A52A2A {
	color: #A52A2A;
}

.wtf-color-maroon,
.wtf-color-800000 {
	color: #800000;
}

/* @end */

/* @group Whites */

.wtf-color-white,
.wft-fill-FFFFFF {
	color: #FFFFFF;
}

.wtf-color-snow,
.wft-fill-FFFAFA {
	color: #FFFAFA;
}

.wtf-color-honeydew,
.wft-fill-F0FFF0 {
	color: #F0FFF0;
}

.wtf-color-mintcream,
.wft-fill-F5FFFA {
	color: #F5FFFA;
}

.wtf-color-azure,
.wft-fill-F0FFFF {
	color: #F0FFFF;
}

.wtf-color-aliceblue,
.wft-fill-F0F8FF {
	color: #F0F8FF;
}

.wtf-color-ghostwhite,
.wft-fill-F8F8FF {
	color: #F8F8FF;
}

.wtf-color-whitesmoke,
.wft-fill-F5F5F5 {
	color: #F5F5F5;
}

.wtf-color-seashell,
.wft-fill-FFF5EE {
	color: #FFF5EE;
}

.wtf-color-beige,
.wft-fill-F5F5DC {
	color: #F5F5DC;
}

.wtf-color-oldlace,
.wft-fill-FDF5E6 {
	color: #FDF5E6;
}

.wtf-color-floralwhite,
.wft-fill-FFFAF0 {
	color: #FFFAF0;
}

.wtf-color-ivorywhite,
.wft-fill-FFFFF0 {
	color: #FFFFF0;
}

.wtf-color-antiquewhite,
.wft-fill-FAEBD7 {
	color: #FAEBD7;
}

.wtf-color-linen,
.wft-fill-FAF0E6 {
	color: #FAF0E6;
}

.wtf-color-lavenderblush,
.wft-fill-FFF0F5 {
	color: #FFF0F5;
}

.wtf-color-mistyrose,
.wft-fill-FFE4E1 {
	color: #FFE4E1;
}

/* @end */

/* @group Greys */

.wtf-color-mercury,
.wtf-color-EAEAEA {
	color: #EAEAEA;
}

.wtf-color-gainsboro,
.wtf-color-DCDCDC {
	color: #DCDCDC;
}

.wtf-color-lightgrey,
.wtf-color-D3D3D3 {
	color: #D3D3D3;
}

.wtf-color-silver,
.wtf-color-C0C0C0 {
	color: #C0C0C0;
}

.wtf-color-darkgray,
.wtf-color-A9A9A9 {
	color: #A9A9A9;
}

.wtf-color-aluminum,
.wtf-color-999999 {
	color: #999999;
}

.wtf-color-gray,
.wtf-color-808080 {
	color: #808080;
}

.wtf-color-dimgray,
.wtf-color-696969 {
	color: #696969;
}

.wtf-color-lightslategray,
.wtf-color-778899 {
	color: #778899;
}

.wtf-color-slategray,
.wtf-color-708090 {
	color: #708090;
}

.wtf-color-tin,
.wtf-color-7f7f7f {
	color: #7f7f7f;
}

.wtf-color-steel,
.wtf-color-666666 {
	color: #666666;
}

.wtf-color-iron,
.wtf-color-4c4c4c {
	color: #4c4c4c;
}

.wtf-color-tungsten,
.wtf-color-333333 {
	color: #333333;
}

.wtf-color-darkslategray,
.wtf-color-2F2F2F {
	color: #2F2F2F;
}

.wtf-color-lead,
.wtf-color-191919 {
	color: #191919;
}

.wtf-color-black,
.wtf-color-000000 {
	color: #000000;
}

/* @end */

/* @end */

.wtf-button-round {
	border-radius: 0.50em;
	display: inline-block;
	line-height: 1.00em;
	border: none;
	outline: none;
	padding: 1%;
	transition: all 300ms ease-in-out;
	text-decoration: none;
}

.wtf-button-left {
	border-top-left-radius: 0.50em;
	border-bottom-left-radius: 0.50em;
	display: inline-block;
	line-height: 1.00em;
	border: none;
	outline: none;
	padding: 1%;
	transition: all 300ms ease-in-out;
	text-decoration: none;
}

.wtf-button-right {
	border-top-right-radius: 0.50em;
	border-bottom-right-radius: 0.50em;
	display: inline-block;
	line-height: 1.00em;
	border: none;
	outline: none;
	padding: 1%;
	transition: all 300ms ease-in-out;
	text-decoration: none;
}

.wtf-button-top {
	border-top-right-radius: 0.50em;
	border-top-left-radius: 0.50em;
	display: inline-block;
	line-height: 1.00em;
	border: none;
	outline: none;
	padding: 1%;
	transition: all 300ms ease-in-out;
	text-decoration: none;
}

.wtf-button-bottom {
	border-bottom-right-radius: 0.50em;
	border-bottom-left-radius: 0.50em;
	display: inline-block;
	line-height: 1.00em;
	border: none;
	outline: none;
	padding: 1%;
	transition: all 300ms ease-in-out;
	text-decoration: none;
}

.wtf-button-square {
	display: inline-block;
	line-height: 1.00em;
	border: none;
	outline: none;
	padding: 1%;
	transition: all 300ms ease-in-out;
	text-decoration: none;
}

a.wtf-button-dark {
	color: #000000;
}

a.wtf-button-light {
	color: #ffffff;
}

.wtf-button-round:hover,
.wtf-button-square:hover,
.wtf-button-left:hover,
.wtf-button-right:hover,
.wtf-button-top:hover,
.wtf-button-bottom:hover {
	opacity: 0.80;
}

.wtf-button-round:active,
.wtf-button-round.active,
.wtf-button-square:active,
.wtf-button-square.active,
.wtf-button-left:active,
.wtf-button-left.active
.wtf-button-right:active,
.wtf-button-right.active,
.wtf-button-top:active,
.wtf-button-top.active,
.wtf-button-bottom:active,
.wtf-button-bottom.active {
	opacity: 0.80;
}

/* @group Text Alignment */

.wtf-align-left {
	text-align: left;
}

.wtf-align-right {
	text-align: right;
}

.wtf-align-center {
	text-align: center;
}

.wtf-align-justify {
	text-align: justify;
}

/* @end */

/* @group Width */
.wtf-width-0{width: 0%;}
.wtf-width-1{width: 1%;}
.wtf-width-2{width: 2%;}
.wtf-width-3{width: 3%;}
.wtf-width-4{width: 4%;}
.wtf-width-5{width: 5%;}
.wtf-width-6{width: 6%;}
.wtf-width-7{width: 7%;}
.wtf-width-8{width: 8%;}
.wtf-width-9{width: 9%;}
.wtf-width-10{width: 10%;}
.wtf-width-11{width: 11%;}
.wtf-width-12{width: 12%;}
.wtf-width-13{width: 13%;}
.wtf-width-14{width: 14%;}
.wtf-width-15{width: 15%;}
.wtf-width-16{width: 16%;}
.wtf-width-17{width: 17%;}
.wtf-width-18{width: 18%;}
.wtf-width-19{width: 19%;}
.wtf-width-20{width: 20%;}
.wtf-width-21{width: 21%;}
.wtf-width-22{width: 22%;}
.wtf-width-23{width: 23%;}
.wtf-width-24{width: 24%;}
.wtf-width-25{width: 25%;}
.wtf-width-26{width: 26%;}
.wtf-width-27{width: 27%;}
.wtf-width-28{width: 28%;}
.wtf-width-29{width: 29%;}
.wtf-width-30{width: 30%;}
.wtf-width-31{width: 31%;}
.wtf-width-32{width: 32%;}
.wtf-width-33{width: 33%;}
/* A special rule for 3-column setups */
.wtf-width-333{width: 33.333%;}
.wtf-width-34{width: 34%;}
.wtf-width-35{width: 35%;}
.wtf-width-36{width: 36%;}
.wtf-width-37{width: 37%;}
.wtf-width-38{width: 38%;}
.wtf-width-39{width: 39%;}
.wtf-width-40{width: 40%;}
.wtf-width-41{width: 41%;}
.wtf-width-42{width: 42%;}
.wtf-width-43{width: 43%;}
.wtf-width-44{width: 44%;}
.wtf-width-45{width: 45%;}
.wtf-width-46{width: 46%;}
.wtf-width-47{width: 47%;}
.wtf-width-48{width: 48%;}
.wtf-width-49{width: 49%;}
.wtf-width-50{width: 50%;}
.wtf-width-51{width: 51%;}
.wtf-width-52{width: 52%;}
.wtf-width-53{width: 53%;}
.wtf-width-54{width: 54%;}
.wtf-width-55{width: 55%;}
.wtf-width-56{width: 56%;}
.wtf-width-57{width: 57%;}
.wtf-width-58{width: 58%;}
.wtf-width-59{width: 59%;}
.wtf-width-60{width: 60%;}
.wtf-width-61{width: 61%;}
.wtf-width-62{width: 62%;}
.wtf-width-63{width: 63%;}
.wtf-width-64{width: 64%;}
.wtf-width-65{width: 65%;}
.wtf-width-66{width: 66%;}
.wtf-width-67{width: 67%;}
.wtf-width-68{width: 68%;}
.wtf-width-69{width: 69%;}
.wtf-width-70{width: 70%;}
.wtf-width-71{width: 71%;}
.wtf-width-72{width: 72%;}
.wtf-width-73{width: 73%;}
.wtf-width-74{width: 74%;}
.wtf-width-75{width: 75%;}
.wtf-width-76{width: 76%;}
.wtf-width-77{width: 77%;}
.wtf-width-78{width: 78%;}
.wtf-width-79{width: 79%;}
.wtf-width-80{width: 80%;}
.wtf-width-81{width: 81%;}
.wtf-width-82{width: 82%;}
.wtf-width-83{width: 83%;}
.wtf-width-84{width: 84%;}
.wtf-width-85{width: 85%;}
.wtf-width-86{width: 86%;}
.wtf-width-87{width: 87%;}
.wtf-width-88{width: 88%;}
.wtf-width-89{width: 89%;}
.wtf-width-90{width: 90%;}
.wtf-width-91{width: 91%;}
.wtf-width-92{width: 92%;}
.wtf-width-93{width: 93%;}
.wtf-width-94{width: 94%;}
.wtf-width-95{width: 95%;}
.wtf-width-96{width: 96%;}
.wtf-width-97{width: 97%;}
.wtf-width-98{width: 98%;}
.wtf-width-98{width: 98%;}
.wtf-width-100{width: 100%;}
.wtf-width-custom{width: 33.333333%;}
/* @end */

/* @group Floats */
.wtf-float-left{float: left;}
.wtf-float-right{float: right;}
/* @end */

/* @group Overflows */
.wtf-overflow-hidden{overflow: hidden;}
.wtf-overflow-visible{overflow: visible;}
.wtf-overflow-scroll{overflow: scroll;}
.wtf-overflow-auto{overflow: auto;}
/* @end */

/* @group Padding */
/* All Side Padding */
.wtf-padding-all-0{padding: 0%;}
.wtf-padding-all-1{padding: 1%;}
.wtf-padding-all-2{padding: 2%;}
.wtf-padding-all-3{padding: 3%;}
.wtf-padding-all-4{padding: 4%;}
.wtf-padding-all-5{padding: 5%;}
.wtf-padding-all-6{padding: 6%;}
.wtf-padding-all-7{padding: 7%;}
.wtf-padding-all-8{padding: 8%;}
.wtf-padding-all-9{padding: 9%;}
.wtf-padding-all-10{padding: 10%;}
.wtf-padding-all-custom{padding: 13%;}

/* Horizontal Padding */
.wtf-padding-hori-0{padding-left: 0%; padding-right: 0%;}
.wtf-padding-hori-1{padding-left: 1%; padding-right: 1%;}
.wtf-padding-hori-2{padding-left: 2%; padding-right: 2%;}
.wtf-padding-hori-3{padding-left: 3%; padding-right: 3%;}
.wtf-padding-hori-4{padding-left: 4%; padding-right: 4%;}
.wtf-padding-hori-5{padding-left: 5%; padding-right: 5%;}
.wtf-padding-hori-6{padding-left: 6%; padding-right: 6%;}
.wtf-padding-hori-7{padding-left: 7%; padding-right: 7%;}
.wtf-padding-hori-8{padding-left: 8%; padding-right: 8%;}
.wtf-padding-hori-9{padding-left: 9%; padding-right: 9%;}
.wtf-padding-hori-10{padding-left: 10%; padding-right: 10%;}
.wtf-padding-hori-custom{padding-left: 13%; padding-right: 13%;}

/* Vertical Padding */
.wtf-padding-vert-0{padding-top: 0%; padding-bottom: 0%;}
.wtf-padding-vert-1{padding-top: 1%; padding-bottom: 1%;}
.wtf-padding-vert-2{padding-top: 2%; padding-bottom: 2%;}
.wtf-padding-vert-3{padding-top: 3%; padding-bottom: 3%;}
.wtf-padding-vert-4{padding-top: 4%; padding-bottom: 4%;}
.wtf-padding-vert-5{padding-top: 5%; padding-bottom: 5%;}
.wtf-padding-vert-6{padding-top: 6%; padding-bottom: 6%;}
.wtf-padding-vert-7{padding-top: 7%; padding-bottom: 7%;}
.wtf-padding-vert-8{padding-top: 8%; padding-bottom: 8%;}
.wtf-padding-vert-9{padding-top: 9%; padding-bottom: 9%;}
.wtf-padding-vert-10{padding-top: 10%; padding-bottom: 10%;}
.wtf-padding-vert-custom{padding-top: 13%; padding-bottom: 13%;}

/* Top Padding */
.wtf-padding-top-0{padding-top: 0%;}
.wtf-padding-top-1{padding-top: 1%;}
.wtf-padding-top-2{padding-top: 2%;}
.wtf-padding-top-3{padding-top: 3%;}
.wtf-padding-top-4{padding-top: 4%;}
.wtf-padding-top-5{padding-top: 5%;}
.wtf-padding-top-6{padding-top: 6%;}
.wtf-padding-top-7{padding-top: 7%;}
.wtf-padding-top-8{padding-top: 8%;}
.wtf-padding-top-9{padding-top: 9%;}
.wtf-padding-top-10{padding-top: 10%;}
.wtf-padding-top-custom{padding-top: 13%;}

/* Right Padding */
.wtf-padding-right-0{padding-right: 0%;}
.wtf-padding-right-1{padding-right: 1%;}
.wtf-padding-right-2{padding-right: 2%;}
.wtf-padding-right-3{padding-right: 3%;}
.wtf-padding-right-4{padding-right: 4%;}
.wtf-padding-right-5{padding-right: 5%;}
.wtf-padding-right-6{padding-right: 6%;}
.wtf-padding-right-7{padding-right: 7%;}
.wtf-padding-right-8{padding-right: 8%;}
.wtf-padding-right-9{padding-right: 9%;}
.wtf-padding-right-10{padding-right: 10%;}
.wtf-padding-right-custom{padding-right: 13%;}

/* Bottom Padding */
.wtf-padding-bottom-0{padding-bottom: 0%;}
.wtf-padding-bottom-1{padding-bottom: 1%;}
.wtf-padding-bottom-2{padding-bottom: 2%;}
.wtf-padding-bottom-3{padding-bottom: 3%;}
.wtf-padding-bottom-4{padding-bottom: 4%;}
.wtf-padding-bottom-5{padding-bottom: 5%;}
.wtf-padding-bottom-6{padding-bottom: 6%;}
.wtf-padding-bottom-7{padding-bottom: 7%;}
.wtf-padding-bottom-8{padding-bottom: 8%;}
.wtf-padding-bottom-9{padding-bottom: 9%;}
.wtf-padding-bottom-10{padding-bottom: 10%;}
.wtf-padding-bottom-custom{padding-bottom: 13%;}

/* Left Padding */
.wtf-padding-left-0{padding-left: 0%;}
.wtf-padding-left-1{padding-left: 1%;}
.wtf-padding-left-2{padding-left: 2%;}
.wtf-padding-left-3{padding-left: 3%;}
.wtf-padding-left-4{padding-left: 4%;}
.wtf-padding-left-5{padding-left: 5%;}
.wtf-padding-left-6{padding-left: 6%;}
.wtf-padding-left-7{padding-left: 7%;}
.wtf-padding-left-8{padding-left: 8%;}
.wtf-padding-left-9{padding-left: 9%;}
.wtf-padding-left-10{padding-left: 10%;}
.wtf-padding-left-custom{padding-left: 13%;}
/* @end */

/* @group Margin */
/* All Side Margin */
.wtf-margin-all-0{margin: 0%}
.wtf-margin-all-1{margin: 1%}
.wtf-margin-all-2{margin: 2%}
.wtf-margin-all-3{margin: 3%}
.wtf-margin-all-4{margin: 4%}
.wtf-margin-all-5{margin: 5%}
.wtf-margin-all-6{margin: 6%}
.wtf-margin-all-7{margin: 7%}
.wtf-margin-all-8{margin: 8%}
.wtf-margin-all-9{margin: 9%}
.wtf-margin-all-10{margin: 10%}
.wtf-margin-all-auto{margin: auto;}
.wtf-margin-all-custom{margin: 13%}

.wtf-margin-all--1{margin: -1%}
.wtf-margin-all--2{margin: -2%}
.wtf-margin-all--3{margin: -3%}
.wtf-margin-all--4{margin: -4%}
.wtf-margin-all--5{margin: -5%}
.wtf-margin-all--6{margin: -6%}
.wtf-margin-all--7{margin: -7%}
.wtf-margin-all--8{margin: -8%}
.wtf-margin-all--9{margin: -9%}
.wtf-margin-all--10{margin: -10%}
.wtf-margin-all-custom{margin: -13%}

/* Horizontal Margin */
.wtf-margin-hori-0{margin: 0 0%}
.wtf-margin-hori-1{margin: 0 1%}
.wtf-margin-hori-2{margin: 0 2%}
.wtf-margin-hori-3{margin: 0 3%}
.wtf-margin-hori-4{margin: 0 4%}
.wtf-margin-hori-5{margin: 0 5%}
.wtf-margin-hori-6{margin: 0 6%}
.wtf-margin-hori-7{margin: 0 7%}
.wtf-margin-hori-8{margin: 0 8%}
.wtf-margin-hori-9{margin: 0 9%}
.wtf-margin-hori-10{margin: 0 10%}
.wtf-margin-hori-auto{margin: 0 auto;}
.wtf-margin-hori-custom{margin: 0 13%}

.wtf-margin-hori--1{margin: 0 -1%}
.wtf-margin-hori--2{margin: 0 -2%}
.wtf-margin-hori--3{margin: 0 -3%}
.wtf-margin-hori--4{margin: 0 -4%}
.wtf-margin-hori--5{margin: 0 -5%}
.wtf-margin-hori--6{margin: 0 -6%}
.wtf-margin-hori--7{margin: 0 -7%}
.wtf-margin-hori--8{margin: 0 -8%}
.wtf-margin-hori--9{margin: 0 -9%}
.wtf-margin-hori--10{margin: 0 -10%}
.wtf-margin-hori--custom{margin: 0 -13%}

/* Vertical Margin */
.wtf-margin-vert-0{margin: 0% 0}
.wtf-margin-vert-1{margin: 1% 0}
.wtf-margin-vert-2{margin: 2% 0}
.wtf-margin-vert-3{margin: 3% 0}
.wtf-margin-vert-4{margin: 4% 0}
.wtf-margin-vert-5{margin: 5% 0}
.wtf-margin-vert-6{margin: 6% 0}
.wtf-margin-vert-7{margin: 7% 0}
.wtf-margin-vert-8{margin: 8% 0}
.wtf-margin-vert-9{margin: 9% 0}
.wtf-margin-vert-10{margin: 10% 0}
.wtf-margin-vert-auto{margin: 0 auto;}
.wtf-margin-vert-custom{margin: 13% 0}

.wtf-margin-vert--1{margin: -1% 0}
.wtf-margin-vert--2{margin: -2% 0}
.wtf-margin-vert--3{margin: -3% 0}
.wtf-margin-vert--4{margin: -4% 0}
.wtf-margin-vert--5{margin: -5% 0}
.wtf-margin-vert--6{margin: -6% 0}
.wtf-margin-vert--7{margin: -7% 0}
.wtf-margin-vert--8{margin: -8% 0}
.wtf-margin-vert--9{margin: -9% 0}
.wtf-margin-vert--10{margin: -10% 0}
.wtf-margin-vert--custom{margin: -13% 0}

/* Top Margin */
.wtf-margin-top-0{margin-top: 0%}
.wtf-margin-top-1{margin-top: 1%}
.wtf-margin-top-2{margin-top: 2%}
.wtf-margin-top-3{margin-top: 3%}
.wtf-margin-top-4{margin-top: 4%}
.wtf-margin-top-5{margin-top: 5%}
.wtf-margin-top-6{margin-top: 6%}
.wtf-margin-top-7{margin-top: 7%}
.wtf-margin-top-8{margin-top: 8%}
.wtf-margin-top-9{margin-top: 9%}
.wtf-margin-top-10{margin-top: 10%}
.wtf-margin-top-auto{margin-top: auto;}
.wtf-margin-top-custom{margin-top: 13%}

.wtf-margin-top--1{margin-top: -1%}
.wtf-margin-top--2{margin-top: -2%}
.wtf-margin-top--3{margin-top: -3%}
.wtf-margin-top--4{margin-top: -4%}
.wtf-margin-top--5{margin-top: -5%}
.wtf-margin-top--6{margin-top: -6%}
.wtf-margin-top--7{margin-top: -7%}
.wtf-margin-top--8{margin-top: -8%}
.wtf-margin-top--9{margin-top: -9%}
.wtf-margin-top--10{margin-top: -10%}
.wtf-margin-top--custom{margin-top: -13%}

/* Right Margin */
.wtf-margin-right-0{margin-right: 0%}
.wtf-margin-right-1{margin-right: 1%}
.wtf-margin-right-2{margin-right: 2%}
.wtf-margin-right-3{margin-right: 3%}
.wtf-margin-right-4{margin-right: 4%}
.wtf-margin-right-5{margin-right: 5%}
.wtf-margin-right-6{margin-right: 6%}
.wtf-margin-right-7{margin-right: 7%}
.wtf-margin-right-8{margin-right: 8%}
.wtf-margin-right-9{margin-right: 9%}
.wtf-margin-right-10{margin-right: 10%}
.wtf-margin-right-auto{margin-right: auto;}
.wtf-margin-right-custom{margin-right: 13%}

.wtf-margin-right--1{margin-right: -1%}
.wtf-margin-right--2{margin-right: -2%}
.wtf-margin-right--3{margin-right: -3%}
.wtf-margin-right--4{margin-right: -4%}
.wtf-margin-right--5{margin-right: -5%}
.wtf-margin-right--6{margin-right: -6%}
.wtf-margin-right--7{margin-right: -7%}
.wtf-margin-right--8{margin-right: -8%}
.wtf-margin-right--9{margin-right: -9%}
.wtf-margin-right--10{margin-right: -10%}
.wtf-margin-right--custom{margin-right: -13%}

/* Bottom Margin */
.wtf-margin-bottom-0{margin-bottom: 0%}
.wtf-margin-bottom-1{margin-bottom: 1%}
.wtf-margin-bottom-2{margin-bottom: 2%}
.wtf-margin-bottom-3{margin-bottom: 3%}
.wtf-margin-bottom-4{margin-bottom: 4%}
.wtf-margin-bottom-5{margin-bottom: 5%}
.wtf-margin-bottom-6{margin-bottom: 6%}
.wtf-margin-bottom-7{margin-bottom: 7%}
.wtf-margin-bottom-8{margin-bottom: 8%}
.wtf-margin-bottom-9{margin-bottom: 9%}
.wtf-margin-bottom-10{margin-bottom: 10%}
.wtf-margin-bottom-auto{margin-bottom: auto;}
.wtf-margin-bottom-custom{margin-bottom: 13%}

.wtf-margin-bottom--1{margin-bottom: -1%}
.wtf-margin-bottom--2{margin-bottom: -2%}
.wtf-margin-bottom--3{margin-bottom: -3%}
.wtf-margin-bottom--4{margin-bottom: -4%}
.wtf-margin-bottom--5{margin-bottom: -5%}
.wtf-margin-bottom--6{margin-bottom: -6%}
.wtf-margin-bottom--7{margin-bottom: -7%}
.wtf-margin-bottom--8{margin-bottom: -8%}
.wtf-margin-bottom--9{margin-bottom: -9%}
.wtf-margin-bottom--10{margin-bottom: -10%}
.wtf-margin-bottom--custom{margin-bottom: -13%}

/* Left Margin */
.wtf-margin-left-0{margin-left: 0%}
.wtf-margin-left-1{margin-left: 1%}
.wtf-margin-left-2{margin-left: 2%}
.wtf-margin-left-3{margin-left: 3%}
.wtf-margin-left-4{margin-left: 4%}
.wtf-margin-left-5{margin-left: 5%}
.wtf-margin-left-6{margin-left: 6%}
.wtf-margin-left-7{margin-left: 7%}
.wtf-margin-left-8{margin-left: 8%}
.wtf-margin-left-9{margin-left: 9%}
.wtf-margin-left-10{margin-left: 10%}
.wtf-margin-left-auto{margin-left: auto;}
.wtf-margin-left-custom{margin-left: 13%}

.wtf-margin-left--1{margin-left: -1%}
.wtf-margin-left--2{margin-left: -2%}
.wtf-margin-left--3{margin-left: -3%}
.wtf-margin-left--4{margin-left: -4%}
.wtf-margin-left--5{margin-left: -5%}
.wtf-margin-left--6{margin-left: -6%}
.wtf-margin-left--7{margin-left: -7%}
.wtf-margin-left--8{margin-left: -8%}
.wtf-margin-left--9{margin-left: -9%}
.wtf-margin-left--10{margin-left: -10%}
.wtf-margin-left--custom{margin-left: -13%}
/* @end */

/* @group Media Sizing */

.wtf-mediasize-upscale img,
img.wtf-mediasize-upscale {
	width: 100%;
	height: auto;
}

.wtf-mediasize-downscale img,
img.wtf-mediasize-downscale {
	max-width: 100%;
	height: auto;
}

/* @end */

/* @group Figures & Figure Captions */

figure {
	position: relative;
	overflow: hidden;
	margin: 0;
}

figure img {
	position: relative;
	z-index: 5;
}

figure figcaption {
	z-index: 10;
}

figure.wtf-figure-fadein figcaption {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

figure.wtf-figure-fadein:hover figcaption {
	opacity: 1.00;
}

figure.wtf-figure-fadein:before {
  content: "i";
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 1000ms ease;
  opacity: 0.75;
  z-index: 15;
}

figure.wtf-figure-fadein:hover:before {
  opacity: 0;
}

figure figcaption h1,
figure figcaption h2,
figure figcaption h3,
figure figcaption h4,
figure figcaption h5,
figure figcaption h6 {
	color: #000000;
	font-size: 125%;
	margin-top: 1%;
}

figcaption.wtf-figcaption-white {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.75);
	color: #000000;
}

figcaption.wtf-figcaption-white h1,
figcaption.wtf-figcaption-white h2,
figcaption.wtf-figcaption-white h3,
figcaption.wtf-figcaption-white h4,
figcaption.wtf-figcaption-white h5,
figcaption.wtf-figcaption-white h6 {
	color: #000000;
	font-size: 125%;
}

figcaption.wtf-figcaption-black {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	color: #ffffff;
}

figcaption.wtf-figcaption-black h1,
figcaption.wtf-figcaption-black h2,
figcaption.wtf-figcaption-black h3,
figcaption.wtf-figcaption-black h4,
figcaption.wtf-figcaption-black h5,
figcaption.wtf-figcaption-black h6 {
	color: #ffffff;
	font-size: 125%;
}

/* @end */

.wtf-nav-wrapper {
	display: block;
	position: relative;
	z-index: 10;
}

.wtf-nav-fill {
	background: #3e3a2b;
	display: block;
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1.00;
}

.mobile-toggle {
	display: none;
}

nav ul {
	display: block;
	position: relative;
	margin: 0;
	list-style: none;
	z-index: 100;
	padding: 0;
}

nav li {
	position: relative;
	float: left;
	z-index: 150;
	display: block;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

nav a {
	display: block;
	text-decoration: none;
	z-index: 20;
	padding: 0 1em 0;
	-webkit-transition: color .25s linear;
	transition: color .25s linear;
	color: #ffffff;
}

nav a:hover {
	color: #a9a9a9;
	text-decoration: none
}

nav ul ul {
	position: absolute;
	left: 0;
	padding: 0.50em 0;
	margin: 2em 0 0;
	z-index: 149;
	height: auto;
	opacity: 0;
	line-height: 1.10em;
	visibility: hidden;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background: #454733;
}

nav ul ul li {
	position: relative;
	margin: 0;
	padding: 0;
	display: block;
	line-height: 1.00em;
}

nav ul ul a {
	float: none;
	display: block;
	line-height: 1.10em;
	padding: 0.50em 1.00em;
}

nav ul ul ul {
	background: #fff;
	left: 190px;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}

nav>ul>li:hover>ul, 
nav>ul>li>ul>li:hover>ul,
nav>ul>li>ul>li>ul>li:hover>ul,
nav>ul>li>ul>li>ul>li>ul>li:hover>ul {
	opacity: 1;
	visibility: visible;
	margin: 0
}

.touchDevice nav ul ul,
.touchDevice nav ul ul ul {
	opacity: 1.00;
	visibility: visible;
	-webkit-transition: none;
	transition: none;
	margin: 0;
	display: none
}

.touchDevice nav>ul>li:hover>ul,
.touchDevice nav>ul>li>ul>li:hover>ul,
.touchDevice nav>ul>li>ul>li>ul>li:hover>ul,
.touchDevice nav>ul>li>ul>li>ul>li>ul>li:hover>ul {
	opacity: 1.00;
	visibility: visible;
	-webkit-transition: none;
	transition: none;
	margin: 0;
	display: block
}

/* Nav Bar Heights */
.wtf-navbar-100{height: 1.00em; line-height: 1.00em;}
.wtf-navbar-100 li{line-height: 1.00em;}
.wtf-navbar-100 ul ul{top: 1.00em;}

.wtf-navbar-125{height: 1.25em; line-height: 1.25em;}
.wtf-navbar-125 li{line-height: 1.25em;}
.wtf-navbar-125 ul ul{top: 1.25em;}

.wtf-navbar-150{height: 1.50em; line-height: 1.50em;}
.wtf-navbar-150 li{line-height: 1.50em;}
.wtf-navbar-150 ul ul{top: 1.50em;}

.wtf-navbar-175{height: 1.75em; line-height: 1.75em;}
.wtf-navbar-175 li{line-height: 1.75em;}
.wtf-navbar-175 ul ul{top: 1.75em;}

.wtf-navbar-200{height: 2.00em; line-height: 2.00em;}
.wtf-navbar-200 li{line-height: 2.00em;}
.wtf-navbar-200 ul ul{top: 2.00em;}

.wtf-navbar-225{height: 2.25em; line-height: 2.25em;}
.wtf-navbar-225 li{line-height: 2.25em;}
.wtf-navbar-225 ul ul{top: 2.25em;}

.wtf-navbar-250{height: 2.50em; line-height: 2.50em;}
.wtf-navbar-250 li{line-height: 2.50em;}
.wtf-navbar-250 ul ul{top: 2.50em;}

.wtf-navbar-275{height: 2.75em; line-height: 2.75em;}
.wtf-navbar-275 li{line-height: 2.75em;}
.wtf-navbar-275 ul ul{top: 2.75em;}

.wtf-navbar-300 {height: 3.00em;line-height: 3.00em;}
.wtf-navbar-300 li {line-height: 3.00em;}
.wtf-navbar-300 ul ul{top: 3.00em;}

.wtf-navbar-325 {height: 3.25em;line-height: 3.25em;}
.wtf-navbar-325 li {line-height: 3.25em;}
.wtf-navbar-325 ul ul{top: 3.25em;}

.wtf-navbar-350 {height: 3.50em;line-height: 3.50em;}
.wtf-navbar-350 li {line-height: 3.50em;}
.wtf-navbar-350 ul ul{top: 3.50em;}

.wtf-navbar-375 {height: 3.75em;line-height: 3.75em;}
.wtf-navbar-375 li {line-height: 3.75em;}
.wtf-navbar-375 ul ul{top: 3.75em;}

.wtf-navbar-400 {height: 4.00em;line-height: 4.00em;}
.wtf-navbar-400 li {line-height: 4.00em;}
.wtf-navbar-400 ul ul{top: 4.00em;}




.wtf-navbar-425 {height: 4.25em;line-height: 4.25em;}
.wtf-navbar-425 li {line-height: 4.25em;}
.wtf-navbar-425 ul ul{top: 3.25em;}

.wtf-navbar-450 {height: 4.50em;line-height: 4.50em;}
.wtf-navbar-450 li {line-height: 3.50em;}
.wtf-navbar-450 ul ul{top: 3.50em;}

.wtf-navbar-475 {height: 4.75em;line-height: 4.75em;}
.wtf-navbar-475 li {line-height: 4.75em;}
.wtf-navbar-475 ul ul{top: 4.75em;}

.wtf-navbar-500 {height: 5.00em;line-height: 5.00em;}
.wtf-navbar-500 li {line-height: 5.00em;}
.wtf-navbar-500 ul ul{top: 5.00em;}

/* Nav Bar Alignment */

.wtf-nav-left nav ul {
	float: left;
	margin-left: -1.00em;
}

.wtf-nav-right nav ul {
	float: right;
	margin-right: -1.00em;
}

.wtf-nav-center nav ul {
	float: none;
	text-align: center;
	width: 100%;
	display: block;
}

.wtf-nav-center nav li {
    display: inline-block;
    float: none;
}

.wtf-nav-center nav ul ul,
.wtf-nav-center nav ul ul li {
	display: block;
	float: none;
	width: auto;
	text-align: left;
}

/* @group Mobile Menu */

@media screen and (max-width: 580px) {
	
	.wtf-nav-wrapper > [class*="wtf-width"] {
		width: 100%;
	}
	
	input.mobile-toggle {
		display: none;
	}
	
	label.mobile-toggle {
		position: relative;
		color: #ffffff;
		cursor: pointer;
		z-index: 20;
		display: block;
		background: #25231A;
		padding-left: 2%;
		padding-right: 2%;
	}
	
	.wtf-navbar {
		display: none;
		overflow: hidden;
		padding: 2%;
	}
	
	.wtf-nav-wrapper input.mobile-toggle:checked+nav { 
		height: 50%;
		overflow: auto;
	}
	
	.wtf-nav-wrapper input.mobile-toggle:checked+nav {
		display: block;
		-webkit-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out
	}
	
	.wtf-nav-wrapper nav ul {
		float: none;
		display: block;
	}
	
	.wtf-nav-wrapper nav a {
		padding: 0;
		line-height: 2.00em;
		display: block;
		padding: 0;
	}
	
	.wtf-nav-wrapper nav li {
		float: none;
		display: block;
		line-height: 1.50em;
	}
	
	.wtf-nav-wrapper nav ul ul {
		top: auto !important;
		left: auto !important;
		width: auto;
		position: relative;
		margin: 0;
		padding: 0;
		opacity: 1.00;
		visibility: visible;
		background: transparent;
		line-height: inherit;
		padding-left: 2%;
	}
}	

/* @end */

/* @group Animation Effects */

/* @end */

/* @group Border Radius */
.wtf-rounded-000{border-radius: 0em; -webkit-border-radius: 0em;}
.wtf-rounded-010{border-radius: 0.10em; -webkit-border-radius: 0.10em;}
.wtf-rounded-020{border-radius: 0.20em; -webkit-border-radius: 0.20em;}
.wtf-rounded-030{border-radius: 0.30em; -webkit-border-radius: 0.30em;}
.wtf-rounded-040{border-radius: 0.40em; -webkit-border-radius: 0.40em;}
.wtf-rounded-050{border-radius: 0.50em; -webkit-border-radius: 0.50em;}
.wtf-rounded-060{border-radius: 0.60em; -webkit-border-radius: 0.60em;}
.wtf-rounded-070{border-radius: 0.70em; -webkit-border-radius: 0.70em;}
.wtf-rounded-080{border-radius: 0.80em; -webkit-border-radius: 0.80em;}
.wtf-rounded-090{border-radius: 0.90em; -webkit-border-radius: 0.90em;}
.wtf-rounded-100{border-radius: 1.00em; -webkit-border-radius: 1.00em;}
.wtf-rounded-110{border-radius: 1.10em; -webkit-border-radius: 1.10em;}
.wtf-rounded-120{border-radius: 1.20em; -webkit-border-radius: 1.20em;}
.wtf-rounded-130{border-radius: 1.30em; -webkit-border-radius: 1.30em;}
.wtf-rounded-140{border-radius: 1.40em; -webkit-border-radius: 1.40em;}
.wtf-rounded-150{border-radius: 1.50em; -webkit-border-radius: 1.50em;}
.wtf-rounded-160{border-radius: 1.60em; -webkit-border-radius: 1.60em;}
.wtf-rounded-170{border-radius: 1.70em; -webkit-border-radius: 1.70em;}
.wtf-rounded-180{border-radius: 1.80em; -webkit-border-radius: 1.80em;}
.wtf-rounded-190{border-radius: 1.90em; -webkit-border-radius: 1.90em;}
.wtf-rounded-200{border-radius: 2.00em; -webkit-border-radius: 2.00em;}

/* @end */

/* @group Box Shadows */

.wtf-boxshadow-inset-1 {
	box-shadow:inset 0 0 6px 4px rgba(0,0,0,0.1);
}

.wtf-boxshadow-inset-2 {
	box-shadow:inset 0 0 6px 4px rgba(0,0,0,0.2);
}

.wtf-boxshadow-inset-3 {
	box-shadow:inset 0 0 6px 4px rgba(0,0,0,0.3);
}

.wtf-boxshadow-inset-4 {
	box-shadow:inset 0 0 6px 4px rgba(0,0,0,0.4);
}

.wtf-boxshadow-inset-5 {
	box-shadow:inset 0 0 6px 4px rgba(0,0,0,0.5);
}

.wtf-boxshadow-inset-6 {
	box-shadow:inset 0 0 6px 4px rgba(0,0,0,0.6);
}

.wtf-boxshadow-inset-7 {
	box-shadow:inset 0 0 6px 4px rgba(0,0,0,0.7);
}

.wtf-boxshadow-inset-8 {
	box-shadow:inset 0 0 6px 4px rgba(0,0,0,0.8);
}

.wtf-boxshadow-inset-9 {
	box-shadow:inset 0 0 6px 4px rgba(0,0,0,0.9);
}

.wtf-boxshadow-inset-10 {
	box-shadow:inset 0 0 6px 4px rgba(0,0,0,1.0);
}

/* Outset Shadows */

.wtf-boxshadow-outset-1 {
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.1);
}

.wtf-boxshadow-outset-2 {
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.2);
}

.wtf-boxshadow-outset-3 {
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.3);
}

.wtf-boxshadow-outset-4 {
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.4);
}

.wtf-boxshadow-outset-5 {
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.5);
}

.wtf-boxshadow-outset-6 {
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.6);
}

.wtf-boxshadow-outset-7 {
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.7);
}

.wtf-boxshadow-outset-8 {
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.8);
}

.wtf-boxshadow-outset-9 {
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.9);
}

.wtf-boxshadow-outset-10 {
	box-shadow: 0 0 6px 4px rgba(0,0,0,1.0);
}

/* @end */

/* @group Helper Classes */

.wtf-container {
	position: relative;
}

.wtf-floatfix {
	height: auto;
	overflow: auto;
}

.wtf-colfix {
	min-height: 1px;
}

.wtf-clear-left {
	clear: left;
}

.wtf-clear-right {
	clear: right;
}

.wtf-clear-both {
	clear: both;
}

.wtf-staging {
	display: none !important;
}

.wtf-maxwidth {
	max-width: 1200px;
}

@media screen {
	.wtf-noscreen {
		display: none !important;
	}
}

@media screen and (max-width: 769px) {
	.wtf-notablet {
		display: none !important;
	}
	
	.wtf-tablet-collapse {
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 569px) {
	.wtf-nomobile {
		display: none !important;
	}
	
	.wtf-mobile-collapse {
		width: 100%;
		float: none;
	}
}

@media print {
	.wtf-noprint {
		display: none !important;
	}
}

/* @end */